[2014-01-04 06:53] #761 closed, assigned to nobody

[2014-01-05 16:10] fredreichbier opened #762 "Passing "null" as a String crashes the JSON generator"
See this: https://gist.github.com/fredreichbier/8270057

It should probably not segfault. But I have a patch for that!

[2014-01-06 06:29] CoderPuppy opened #764 "When iterating varargs with a match, rock generates the type parameter twice"

[2014-01-10 23:48] xsleonard opened #765 "Import failures"
Following the example in http://ooc-lang.org/docs/lang/modules/#modules

In the top level czmq.ooc file:

[code]

The error is `error Module not found in sourcepath $path` when not working.

[2014-01-11 00:36] xsleonard opened #766 "Importing into namespace prevents extended method calls from being resolved"
Given these files in the same directory:

`y.ooc`:

[code]

`x.ooc`:

[code]

`main.ooc`:

[code]

`main2.ooc`:

[code]

`main.ooc` will successfully compile and run, but `main2.ooc` fails with:
`./main2.ooc:3:3 error No such function draw() for 'X'`

[2014-01-12 02:42] xsleonard opened #767 "Rock should fail when a preprocessor tag (e.g. linux) is used as a variable"
[code]

This code generates C compiler errors due to the substitution of an unmangled 'linux' into the compiled C code, which is set to  `#define linux 1` in `<built-in>`.  Ideally rock would detect the use of default #defines outside of version blocks and notify the user.

[2014-01-12 03:18] #767 closed, assigned to nobody

[2014-01-14 23:00] nddrylliog opened #768 "Use autotools properly for vendored boehm gc"
We should have a prefix not that terrible include/ libs/ thing we have now.

I blame past me.

But seriously, something like that would do just as well (in Rock's makefile)

[code]

Then we can use '-lgc' everywhere and get rid of all the madness.

[2014-01-15 20:25] #768 closed, assigned to nddrylliog

[2014-01-16 12:07] nddrylliog opened #769 "ooc-sdl2 generates weird lua stuff"
See:

[code]

I'm not an expert, but those struct look suspicious. Also then lua complains about 'short' being typedef'd to.

[2014-01-16 12:09] nddrylliog opened #770 "luaffi backend interface support"
See https://github.com/fredreichbier/ooc-lua/issues/4

[2014-01-16 12:19] nddrylliog opened #771 "luaffi backend shouln't generate binding for closures"
Cause then we get funny error messages like:

[code]

Now I'm all for fun and stuff, but that's more annoying fun.

[2014-01-16 13:21] #771 closed, assigned to nobody

[2014-01-17 01:24] #770 closed, assigned to nobody

[2014-01-17 01:29] #769 closed, assigned to nobody

[2014-01-17 16:08] nddrylliog opened #772 "Tuplearg should generateTempName locally, not globally"
Otherwise luaffi backends have unnecessary diffs in them.

[2014-01-17 16:08] nddrylliog opened #773 "Generic return args should generateTempName locally, not globally"
Otherwise luaffi backends' bindings have unnecessary diffs in them.

[2014-04-18 17:45] d3zd3z opened #774 "Tuple assignment incorrect"
The following code

[code]

generates the incorrect result.  The generated code doesn't use a temporary, and clobbers the value of 'a' before computing 'a+b'.  A simpler expression, such as

[code]

does seem to work.

[2014-04-19 19:54] d3zd3z opened #775 "Compiler crash with nested arrays"
This code snipet

[code]

segfaults the compiler:

[code]

[2014-04-25 20:36] chenzhekl opened #777 "Use not found in the ooc library path: sdk"
Well, I guess `sdk` is some kind of standard library, But rock could'n find it.

OS: Mac OS X 10.9.2
ooc installed using homebrew.

[2014-04-25 22:44] #777 closed, assigned to nobody

[2014-07-11 17:17] sleepdeprecation opened #778 "`make extensions` failing on OS X"
Running `make extensions` is failing for me on OS X.

I'm not sure what the issue is. Running `make extensions` outputs:

[code]

[2014-07-11 19:08] #778 closed, assigned to nobody

[2014-07-12 02:20] fasterthanlime opened #779 "[fancy_backtrace] Comparison of unsigned expression < 0 is always false"
Caught by clang in #778,

[This line](https://github.com/nddrylliog/rock/blob/335a45a03105e7ff951b8897f95842ab831aac99/extensions/fancy-backtrace/fancy_backtrace.c#L223) causes a warning - num_symbols is unsigned, it should be at least signed (and, according to some other bfd_\* usage on the web, long).

As a result, we probably can't detect when we fail to read symbols from object files.

[2014-07-29 08:48] davidhesselbom opened #780 "Unary minus operator overloading"
I'm having trouble with unary minus operator overloads, especially when overloading both the binary and the unary minus operator. I should be able to build PointD, but for some reason I can't.

[code]

[2014-07-29 08:58] davidhesselbom opened #781 "Property returning This "has incomplete type""
How do I solve the error I get when compiling PointB?

[code]

[2014-07-29 09:00] davidhesselbom opened #782 "::= syntax in covers"
Why can't covers use the ::= syntax?

[code]

[2014-08-13 14:44] fasterthanlime opened #783 "Pointer comparison should be allowed"
Test case:

[code]

This should pass, but on 99x, it fails with:

[code]

A workaround for now is to cast them both to `Pointer` (a `void*` cover). A utility function can be added for that:

[code]

Thanks to David Hasselbom for the initial tip.

[2014-08-15 19:59] #780 closed, assigned to fasterthanlime

[2014-08-15 19:59] #781 closed, assigned to fasterthanlime

[2014-08-15 20:07] #779 closed, assigned to fasterthanlime

[2014-08-15 20:21] #765 closed, assigned to fasterthanlime

[2014-08-15 20:23] #764 closed, assigned to nobody

[2014-08-15 20:27] #762 closed, assigned to nobody

[2014-08-15 20:32] #620 closed, assigned to nobody

[2014-08-15 20:52] #775 closed, assigned to nobody

[2014-08-15 23:03] #774 closed, assigned to fasterthanlime

[2014-08-15 23:10] #783 closed, assigned to nobody

[2014-08-15 23:24] #782 closed, assigned to fasterthanlime

[2014-08-15 23:30] #766 closed, assigned to fasterthanlime

[2014-08-15 23:35] #174 closed, assigned to nobody

[2014-08-16 14:09] #759 closed, assigned to fasterthanlime

[2014-08-16 14:11] fasterthanlime opened #784 "Support scientific notations in floating point literals"
See https://github.com/zhaihj/nagaqueen/commit/d41700215247b987fe4270dd8ef9cc300c3e8e78

[2014-08-16 14:23] #784 closed, assigned to fasterthanlime

[2014-08-16 18:41] fasterthanlime opened #785 "Document text/Shlex, use enum, add test case"
Just what it says on the tin.

[2014-08-16 19:12] fasterthanlime opened #786 "'-q' flag forces exit code 0, even on failure"
That breaks '[sam](https://github.com/fasterthanlime/sam) test'.

Example:

[code]

[2014-08-16 20:59] fasterthanlime opened #787 "In C compilation/link failure, always print to stderr (even on quiet)"
In '-q' (for quiet), rock promises not to write anything to stdout.

But if C compilation/linking fails, we should still get the C compiler's output on stderr.

[2014-08-16 21:01] #787 closed, assigned to fasterthanlime

[2014-08-16 21:01] #786 closed, assigned to fasterthanlime

[2014-08-16 21:01] #785 closed, assigned to fasterthanlime

[2014-08-16 21:03] fasterthanlime opened #788 "Add support for main: func (args: String[])"
See https://github.com/zhaihj/rock/commit/30b900660c0ef10d7c74617d4e82ae0f55f9f6b6 - applied this fix, works well.

[2014-08-16 21:04] #788 closed, assigned to fasterthanlime

[2014-08-16 21:06] fasterthanlime opened #789 "Wrong inference for overloaded functions"
[code]

Expected output:

[code]

Actual output:

[code]

(Imported from https://github.com/zhaihj/rock/issues/1)

[2014-08-16 21:43] #789 closed, assigned to fasterthanlime

[2014-08-17 14:27] #760 closed, assigned to nobody

[2014-08-17 14:51] #773 closed, assigned to nobody

[2014-08-17 14:51] #772 closed, assigned to nobody

[2014-08-17 15:41] fasterthanlime opened #790 "Make sdk/os tests Win32-friendly"
Right now most of them are written with a unixy environment in mind.

We might need to use version blocks.

[2014-08-17 17:07] fasterthanlime opened #791 "PipeWin32 closes 'r' whatever you tell it to."

[2014-08-17 17:08] fasterthanlime opened #792 "Process doesn't pass environment on Win32"

[2014-08-17 17:09] fasterthanlime opened #793 "Std{in,err,out} redirection doesn't work on Win32"

[2014-08-17 17:09] #793 closed, assigned to fasterthanlime

[2014-08-17 17:09] #792 closed, assigned to fasterthanlime

[2014-08-17 17:10] #791 closed, assigned to fasterthanlime

[2014-08-17 17:10] #790 closed, assigned to fasterthanlime

[2014-08-17 17:36] fasterthanlime opened #794 "Git workflow modification"
Plan:

  - Introduce `stable` branch, which we encourage new users to switch to at first (when installing from git)
  - Do bleeding-edge development in the `master` branch
  - Versioned branches like `99x` etc. can still exist after release, to backport bugfixes, etc.
  - Tags work as before.

This will require a documentation update.

[2014-08-18 00:04] zhaihj opened #795 "Incorrect (or missing) implicit cast on array"
foo: func~SizeT->SSizeT[]{
        return [1,2,3,4]
    }

    foo: func~Int->Int[]{
        return [1,2,3,4]
    }

    main: func(){
        foo~SizeT()[0] toString() println()
        foo~Int()[0] toString() println()
    }

gives:

    8589934593
    1

instead of

    1
    1

8589934593 = 2<<32 + 1

Generated Code:

    _lang_array__Array return__foo_SizeT() {
        _lang_array__Array __ar

[2014-08-18 09:52] davidhesselbom opened #796 "Support abstract operators"
It should be possible to make abstract operators and use them in methods in abstract classes. Example (does not currently build):

[code]

[2014-08-18 12:50] alexnask opened #797 "Functions with class-specific modifiers are allowed in global scope"
For example

[code]

Compiles and runs fine.
Should this be allowed behavior?
I'm tagging this as bug because I think it is not expected behavior, can you confirm @fasterthanlime ?

Edit:
Here is one more example with the three modifiers that should be disallowed

[code]

[2014-08-18 14:19] #796 closed, assigned to nobody

[2014-08-18 14:30] #797 closed, assigned to alexnask

[2014-08-19 11:42] davidhesselbom opened #801 "Return type error even after checking type"
[code]

This gets me

which is dumb, because I explicitly checked that the variable I'm returning is of the right type. Or didn't I?

Similarly, changing the last function to

[code]

gives me

but I'm not using different types - if `copy` has been checked to be an instance of `ColorMonochrome`, then `copy` and `copy as ColorMonochrome` are the same type.

[2014-08-19 12:41] davidhesselbom opened #802 "Parameter of type Object matches first type of Cell<T> regardless of T's type"
[code]
outputs

[2014-08-19 12:46] davidhesselbom opened #803 "Value types are not cast to Cell<T> when passed to functions that take Object parameter"
Boxing and unboxing ~~should~~ could be transparent to the programmer so that any value type can be implicitly casted to an object and explicitly cast from an object.

The Cell class should be very well suited for this.

[code]
The last call should either not compile (if it is decided that value types cannot be passed as objects) or the `2` should be cast to, in this case, `Cell<Int>`.

This is ca

[2014-08-19 12:53] davidhesselbom opened #804 "Parameters of generic interface type are not properly dereferenced"
[code]

Actual output:

[code]

Desired/expected output:

[code]

[2014-08-19 13:00] #801 closed, assigned to nobody

[2014-08-19 14:35] davidhesselbom opened #805 "Interface return type not enforced if inferred in other function"
[code]

`bgr` here is a `ColorMonochrome` because that's what `ColorMonochrome asBgr()` returns. But the interface `IColor` says that `asBgr()` must return a `ColorBgr`, so `ColorMonochrome` shouldn't build!

If `ColorConvert monochromeToBgr()` is given a return type `-> ColorBgr`, however, `ColorMonochrome` does not build until you change the return type for `ColorMonochrome asBgr()` to `ColorBgr

[2014-08-19 15:09] davidhesselbom opened #806 "Match doesn't compile when class and cover types are both returned"
This works:

[code]

but this

[code]

results in the error

Is this on purpose, and is there a workaround?

Furthermore, are there any plans to limit generic functions to classes (and possibly covers) that implement a certain interface? C# example:

[code]

[2014-08-19 16:59] #805 closed, assigned to nobody

[2014-08-20 11:01] davidhesselbom opened #808 "Parameter defaults are awesome, but undocumented"
I can do
[code]
which is totally awesome, but not mentioned anywhere in the ooc documentation as far as I can tell. I was missing out until another guy tried it assuming it would just work, and it did :)

So then I tried to do
[code]
Which didn't fly:

Unless anyone thinks this is a terrible idea, I'll see if I can figure out how hard it would be to get this to work (maybe with a slightly differen

[2014-08-21 16:05] alexnask opened #810 "Add safe navigation operator (syntax needed)"
Description of the C# safe navigation operator ?. provided by @davidhesselbom

<pre>
While you're at it, have you thought of "?." ? See this: http://blogs.msdn.com/b/jerrynixon/archive/2014/02/26/at-last-c-is-getting-sometimes-called-the-safe-navigation-operator.aspx
Basically, instead of
</pre>

[code]

<pre>
you can do
</pre>

[code]

[2014-08-21 16:15] #627 closed, assigned to alexnask

[2014-08-25 08:51] davidhesselbom opened #811 "Segfault on build"
This results in a segfault when building:
[code]
[code]
I'm running rock on the master branch, if it's any help.

[2014-09-01 17:00] simonmika opened #812 "Non working property syntax"
The following syntax for properties (as described [here](https://github.com/nddrylliog/the-ooc-language/blob/master/005-properties.md)):

[code]

Results in the following error message for the body of the test method:

[code]

But the following works:

[code]

Is it an deprecated syntax (it is not described on the ooc webpage) or is something else wrong?

[2014-09-02 09:09] davidhesselbom opened #813 "Android missing from Target toString()"
In `rock/source/rock/frontend/Target.ooc`, the `toString()` function has cases matching all of the constants at the head of the file except `ANDROID`.

So,

[code]

should be changed to

[code]

unless there's a reason not to.

[2014-09-07 19:23] aurora opened #814 "TCPSocketReader read does not work as expected"
I am unsatisfied, how the method `read` for streams is implemented especially for the TCPSocketReader. First of all:

[code]

does not work at all, because it uses `Reader skip`, which uses `seek`, which is not supported for TCP sockets -> `[SocketError]: Sockets do not support seek`.

Second: why does `read(Buffer)` seek to offset 0?

The only way i know (so far) of reading n-bytes from a TCPSock

[2014-09-09 15:36] davidhesselbom opened #815 "First gc_malloc(> 131048) call with --gc=off returns absurd pointers"
I've discovered a magic number! :tada:

If I run this piece of code with `--gc=off -lpthread`
[code]
it will output three numbers that are 7 or 8 digits long.

If, however, `sizeA` is any number higher than `131048`, only `pointerB` will be a number of 7 or 8 digits, while `pointerA` and `pointerC` will be 15 digits long and in the `0x7EF0_0000_0000` to `0x7FFF_FFFF_FFFF` range (is my guess, from

[2014-09-18 12:25] alexnask opened #816 "Macro system"
Lately I've bben thinking quite a bit about macros and how they could be implemented in ooc.

I've come to the conclusion that a rust-like system would be good.
Here are some examples:

[code]

[2014-09-18 18:56] iluuu1994 opened #817 "Installing from secular partition"
I have Yosemite installed on a secular partition. I'm trying to install rock there.
Apparently, the installation requires some assemblies embedded in Xcode. I get the following error message:

[code]

It looks like the path doesn't get properly escaped. Any idea what I can do?

Btw, this compiler and the ooc language look amazing ✨

[2014-09-19 12:26] #812 closed, assigned to nobody

[2014-09-19 13:23] iluuu1994 opened #818 "Parameter labels"
The new Swift language has argument labels:

[code]

This makes reading the function call much more readable.
Yes, Swift has some crazy rules about when you actually need them and when you can omit them.
But in general they are very helpful.

That's just an idea I wanna throw out there.

[2014-09-19 14:41] iluuu1994 opened #819 "Benchmarks?"
I'm very interested in seeing how ooc performes in comparison to C. I couldn't find any benchmarks on the official website or anywhere else.

The performance heavily depends on how much baggage is created in the background. Since I have absolutely no idea what ooc exactly does to compile the ooc code to C it's hard for me to estimate how close to C it will get.

Is there anything planned? Or is th

[2014-09-19 16:34] #819 closed, assigned to nobody

[2014-09-20 09:09] iluuu1994 opened #820 "Automatic tuple unwrapping"
Swift has a pretty neat feature, it automatically unwraps a tuple if it is passed to a function with the same arguments. Here's how that could look in ooc.

[code]

This could be easier and more readable than having to extract the values yourself.

[2014-09-20 12:50] #820 closed, assigned to nobody

[2014-09-20 12:59] alexnask opened #821 "Add vendor prefix command line option"
To make cross compiling to multiple platforms from a single rock directory possible without some pretty annoying scripting to switch the vendor-prefix folder.
Currently, rock adds ./vendor-prefix/[include, lib] to the C compiler include and library paths, we should be able to override this.

I propose the --vendor-prefix or -vp option to change that.
Example calls:

[code]

[2014-09-20 14:01] #821 closed, assigned to nobody

[2014-09-20 16:37] iluuu1994 opened #822 "Restriction of generic parameter"
Currently it's not possible to restrict what type a generic parameter must be:

[code]

I know that there are workarounds (you could check in init if `K` is really of type `Hashable`), but the cleanest way would be something like the above. What do you think about it?

[2014-09-20 16:44] iluuu1994 opened #823 "Computed property support in interfaces"
Currently, interfaces only support methods.
Would it be possible to declare an interface for computed properties?

[code]

[2014-09-21 10:13] #813 closed, assigned to nobody

[2014-09-21 13:33] shamanas opened #825 "Rock infers generic type exclusively from the first instance it can"
[code]

This should print Foo but it prints Bar, as T is infered from the first argument it appears in a.
Instead, findCommonRoot should be used here.

[2014-09-21 13:38] shamanas opened #826 "Rock does not type check arguments of generic type that was infered in the same call"
An example should be simpler to understand:

[code]

[2014-09-21 14:12] shamanas opened #827 "Should the common root of a cover and class type be Object?"
Rock currently uses findCommonRoot to determine the type of array literals and match expressions.
My goal is to use it in variety of places, pretty much any place where rock must determine a single type from multiple ones.
Current places I am thinking of adding it: built-in (/ C fall-through) binary operators (currently the left hand expressions' type is used ... bleh) and generic type inference (

[2014-09-22 12:13] davidhesselbom opened #829 "Double // on one line won't compile"
Double-commenting a line causes rock to fail with `Expected include, import, statement or declaration`, which is annoying when you're trying to debug your code by commenting things out. Can this please be changed?

[2014-09-23 14:48] davidhesselbom opened #830 "Extending generic classes"
[code]

gives the error `No type parameters for ArrayList. It should match ArrayList`, and

[code]

fails because `Undefined type 'T'`.

[2014-09-25 11:34] alexnask opened #831 "Rock should detect "Interpolated string" println() and call printfln() instad of format() println()"
With the current SDK, format allocates aout 625 bytes of data at least and calling "string" format() println() with the GC off leaves you no way to free that memory, while the print\* functions could free it internally.

[2014-09-25 13:13] #831 closed, assigned to nobody

[2014-09-26 12:23] davidhesselbom opened #832 "Unexpected segfault"
This causes a segfault:
[code]
This does not...
[code]
And neither does this:
[code]
What's going on here?

[2014-10-02 08:33] horasal opened #833 "Generic function causes compiler crash"
Rock crashes(segmentation fault) while compiling this:

[code]

but inferring from parameter works well:

[code]

[2014-10-02 17:37] #833 closed, assigned to nobody

[2014-10-06 08:53] horasal opened #836 ""Smarter" Generics?"
consider the following case, I created an ArrayList:

[code]

(BTW does ooc have something like self function for class to return current instance? Maybe it will be useful for above case :)
While using it, trouble comes:

[code]

I believe that the generics should be smarter to make it useful. Now "T" seems to be treated as a type and resolved at compile time. I'm wondering why it is not realized

[2014-10-07 08:48] #366 closed, assigned to nobody

[2014-10-08 02:22] #836 closed, assigned to nobody

[2014-10-10 02:02] zhaihj opened #840 "gc_malloc unresolved"
tfoo: class<T>{
		init: func(){}
		a: T
		b: T{
			get { a }
			set(c){ a = c }
		}
	}

	tbar := tfoo<Int> new()

the above code generates errors:

	[lang/Backtrace] Falling back on execinfo.. (build extension if you want fancy backtraces)
	[Exception in FunctionCallWriter]: Trying to write unresolved function gc_malloc(T size)

	(SIGABRT) abort program
	[lang/Backtrace] Falling back on execinfo..

[2014-10-14 06:47] zhaihj opened #842 "Rock accepts assignment between generics with different type"
interesting:

	data: ArrayList<ArrayList<Int>>
	data = ArrayList<Int> new()
	data add(ArrayList<Int> new)
	data[0] add(1)

This can be compiled with rock, and sometimes works. But this code is illegal. Because libgc will collect elements at anytime. So we will get a random segmentation fault.
We should at least throw a warning on this.

[2014-10-27 09:13] horasal opened #846 "Reserved C Keywords can be used as function name"
[code]

swich can be used as function name but it is a reserved keyword in c.
Compiler will generate c compiler error.

[2014-10-27 10:31] #846 closed, assigned to nobody

[2015-01-09 11:46] davidhesselbom opened #851 "Overriding final function builds, but segfaults when run"
This builds, but when you run the program, it segfaults. I don't think it should build in the first place. Is this a bug?
[code]

[2015-01-09 13:39] zhaihj commented on #851
I think it should be disallowed.
Inheriting from a final function makes no sense.

But how should we do with cover? It seems that every function in cover is final.

[2015-01-09 22:02] zhaihj commented on #851
Some related problem:

	First: class {
		init: func
		test: func
	}

	Second: class extends First {
		init: func
		test: final func
	}

	s := Second new()
	s test()

By compiling the above code, I get:

	test.ooc: In function ‘test__Second_class’:
	test.ooc:28:29: error: ‘test__Second_test_impl’ undeclared (first use in this function)

Final func does not have an impl, but rock is still using _imp

[2015-01-14 09:50] #832 closed

[2015-01-14 22:29] zhaihj commented on #840
It seems that properties are not properly implemented for generic class.
In normal class, it will geterate get_ and set_ function. But in generics, `b: Int { get {a }}` will be accessed just like a class member.

[2015-01-14 22:55] zhaihj commented on #840
ok, finally get it.
VariableDecl generates expr for properties. This has been fixed.
But here comes another problem, accessing `tbar a` will return a reference of a(because it is a generic) instead of a itself.
Relate issue(almost same reason): https://github.com/fasterthanlime/rock/issues/804

[2015-01-14 22:57] zhaihj commented on #804
I suggest changing the title to something like "Parameter does not properly (de)ferenced through generic interface".

[2015-01-15 08:55] zhaihj commented on #829
I noticed that cogneco has some commits about ooc-doc but can not find the clone of nagaqueen.... Is that private?

Also, I've tested my patch for a while and everything seems good. Remaining task is adding warnings for the mis-placed ooc-docs. But I can not figure out a smart way to do it.

[2015-01-15 09:14] davidhesselbom commented on #829
Cogneco has no fork of nagaqueen, because @fredrikbryntesson is the only person working on it so far. It's not private: https://github.com/fredrikbryntesson/nagaqueen

[2015-01-15 09:26] zhaihj commented on #829
Thank you!
I'll wait for updates :)

[2015-01-15 10:01] davidhesselbom commented on #804
Are you sure that's more accurate? But yes, the title is perhaps a bit confusing.

[2015-01-15 11:38] zhaihj commented on #804
* The porblem is not "lose implementation". In fact rock generates correct interface/class structure in this case.
* Your function returns incorrect result just because you are comparing point and int(because of the bug of compiler).
* The real problem is that rock does not handle Generic Variable Access very well. It uses generic var as pointer in cast/alloc but access it just like normal variabl

[2015-01-16 15:24] davidhesselbom opened #856 "Constructor that takes Func parameter in wrong order in inherited class can cause rock to crash"
I'm not sure this isn't covered in another issue somewhere, but
[code]
makes rock crash during the resolving stage:
[code]
Changing B to any of the following
[code]
[code]
[code]
[code]
makes the problem go away, but with
[code]
it still happens.

[2015-01-19 05:50] zhaihj opened #857 "Improve operator overloading"
I'm playing with operator overloading. But it seems that operator as is not so easy to use...

1. If operator `as` is a member of class/cover, it is not even be searched. (Because rock only searches in modules)

2. It's really difficult to implement a as function returning generic arg, for example:

		operator as <T,R> (other: array<T>) -> array<R> {
			"casted" println()
			ret := array<R> new(ot

[2015-01-19 08:08] davidhesselbom commented on #857
How does the SDK use it everywhere if it doesn't work properly?

[2015-01-19 08:17] zhaihj commented on #857
Try this

	foo: func <T> (myInt: T) -> String {
		match(myInt){
			case a: Int => return a toString()
			case => Exception new("error") throw()
		}
		""
	}

	foo(1) // Call1
	foo<Int>(1) //Call2

Call2 will cause segmentation. SDK uses template function everywhere but they are always called without typeargs. This is why it works.

[2015-01-19 09:33] davidhesselbom commented on #857
Ah. Gotcha.

[2015-01-19 12:51] fasterthanlime commented on #857
I'm going to link that post here, because I talk about this issue specifically, and also #855, and most things you've proposed, @zhaihj: http://fasterthanlime.com/blog/2015/ooc-generics-and-flawed-designs/

Sorry.

[2015-01-19 13:28] davidhesselbom commented on #803
So, after reading this: http://fasterthanlime.com/blog/2015/ooc-generics-and-flawed-designs/ I tried
[code]
I'm pretty sure this solves my problem, I just didn't think of doing it that way.

[2015-01-19 13:42] fasterthanlime commented on #803
@davidhesselbom you might want to have a suffixed function for the Int case, so that dispatch happens at compile time

[2015-01-19 13:50] davidhesselbom commented on #803
Are you suggesting I avoid generic parameters altogether? I can have a suffixed function for every imaginable case, but then, what's the point of having generics? (I always found them to be confusing and strange, myself, heh.)

[2015-01-19 13:57] fasterthanlime commented on #803
@davidhesselbom If the type is known at compile-time then suffixes functions can be used for dispatch and it's more efficient. If it isn't know (e.g. you're dealing with a List<T> or another generic collection) then you can use a generic function to do the dispatching at runtime yourself.

Of course if for example you have a class hierarchy like:

[code]

And then `Widget` implements `toString`, t

[2015-01-19 13:57] fasterthanlime commented on #803
I know it's confusing sometimes, but really, generics were introduced *mainly for collections*. If you think of them like that, then it makes a lot more sense.

[2015-01-19 14:10] davidhesselbom commented on #803
True, it's more efficient. For some reason I thought you were saying I should avoid generics, period :)

[2015-01-19 14:12] fasterthanlime commented on #803
Generics are just a means to an end, for ooc it's mostly collections, for other languages it might solve a lot more. It's okay. It's not a silver bullet :)

[2015-01-19 15:10] davidhesselbom commented on #802
Can you give an actual example that allows me to match on the `T` in `Cell<T>` after I've matched on `Cell`?
[code]
This won't build because "No such function toString() for `Object`". Fair enough, but if I change it to
[code]
I instead get the error `Missing info for type argument T. Have you forgotten to qualify write<T> (data : Object :Object), e.g. List<Int>?` on the call `write(Cell new(2))`.

[2015-01-19 15:33] fasterthanlime commented on #802
It's kind of hard to read through all that so it's entirely possible that I missed soemthing, but I noticed something.

You can either do

[code]

(which is long-form), or you can do the short form:

[code]

But above, you're conflating the two, so there's no chance it'll work :) Don't confuse generic values & generic types.

[2015-01-19 15:42] fasterthanlime commented on #802
@davidhesselbom here's a full example that works well for me:

[code]

[2015-01-19 15:43] fasterthanlime commented on #802
(And indeed, it's a pity that the second `write` here needs a `<T>`, it shouldn't. I think `Cell<?>` syntax should exist. The compiler check for unqualified generic types is probably too severe, but believe me, it did a lot of damage control back in the days...)

[2015-01-19 15:55] davidhesselbom commented on #802
Splendid, thank you sir!

[2015-01-19 15:58] fasterthanlime commented on #802
No problem. Sorry it took a long-ass issue for this info to get out. It'd be probably right at home somewhere at https://github.com/fasterthanlime/ooc-lang.org/blob/master/content/docs/lang/generics.md, perhaps in a more documentation-y formulation. If someone has time, don't hesitate to send in a pull request.

[2015-01-19 16:06] davidhesselbom commented on #802
I'll look into it. Meanwhile, I gave you another, much smaller one :)

[2015-01-19 17:25] davidhesselbom opened #859 "Problems with Match and Case that use or don't use same variable name"
I'm having a little trouble with match variable names...
[code]
Output:
[code]
By the looks of it, either I use a variable `i` that I don't use, which gives me an annoying warning, or I get the incorrect result. Is this a bug? Is there a way around it?

[2015-01-19 17:31] davidhesselbom commented on #859
Wellll. I can also do `case i: Child => getName1(instance)`, which solves the problem. I'm sorry to have bothered you with this.

[2015-01-19 17:31] #859 closed

[2015-01-20 06:34] simonmika commented on #803
As long as the collections don't should contain value-types, or? (With the exception of when the length of the value type coincides with the length of a pointer.)---- On må, 19 jan 2015 06:12:15 -0800  Amos Wenger<notifications@github.com> wrote ----Generics are just a means to an end, for ooc it's mostly collections, for other languages it might solve a lot more. It's okay. It's not a silver bull

[2015-01-20 06:47] zhaihj commented on #857
Interesting & thank you for reply.
Now I think I begin caching the thoughs of the design of ooc. #855 seems to go to a different direction. I'll close it.

I opened this issue because I'm trying to implement a new array (with cover template). I've expected to solve the problem that array can not be porperly casted (as function return, arguments, etc). But it is not so easy. In fact I still have no

[2015-01-20 06:47] #857 closed

[2015-01-20 11:50] fasterthanlime commented on #803
@simonmika I'm having trouble reading that sentence, but if you're wondering whether generics only works on types which size are exactly a pointer size, you're mistaken. Here's an example:

[code]

Output:

[code]

That's 32 bytes, so 256 bits. Much wider than a pointer anywhere that I know of :)

[2015-01-20 11:56] fasterthanlime commented on #803
For comparison's sake here's the same example with a class:

[code]

Output:

[code]

Because classes are by-reference, `size` here is the size of a pointer, ie. 8 bytes on the 64-bit machine from which I'm typing this message. Instance size is 32 (8 doubles) + 8 (pointer to the vtable).

Everything clear?

[2015-01-28 05:20] zhaihj opened #860 "Call "property()" cause segmentation fault"
source:

	a: class{
		b ::= 1
		init: func
	}

	foo := a new()
	a b()

Expect an error message, got segmentation fault:

	(SIGSEGV) segmentation fault
	[lang/Backtrace] Falling back on execinfo.. (build extension if you want fancy backtraces)
	rock(lang_Backtrace__BacktraceHandler_backtrace_impl+0x115) [0x561285]
	rock(lang_Exception__Exception_getCurrentBacktrace+0x13) [0x54ea73]
	rock(lang_Excep

[2015-02-16 06:50] zhaihj opened #863 "Variables declared in tuple may conflict with function parameters."
When trying to compile something like this:

	foo: func(i: Int) -> Int{
		(a, i) := ("test", 2)

		i
	}

rock generates:

	lang_Numbers__Int tuple__foo(lang_Numbers__Int i) {
		#line 2 "/home/housezet/complier/bug/tuple.ooc"
		lang_String__String* a = __tuple_strLit1;
		#line 2 "/home/housezet/complier/bug/tuple.ooc"
		lang_Numbers__Int i = 2;
		#line 4 "/home/housezet/complier/bug/tuple.ooc"
		re

[2015-02-17 08:04] emilwestergren opened #864 "Variables in nested closures"
Should it be possible to create a closure inside another closure? Because it is in that case not possible to use variables created in the parent closure in the child closure.

Example code:

[code]

fails with:
[code]

[2015-02-17 08:35] zhaihj commented on #864
Things messed up when variable appears.
line no.104,105 cause this problem. Here we are generating unnecessary context `__vvv_ctx5`.

	101         __vvv_ctx5 = lang_Memory__gc_malloc(((lang_types__Class*)__vvv_vvv_closure4_ctx_class())->size);
	102         #line 1 "/home/housezet/.ooc_libs/mcs/test/rock/vvv.ooc"
	103         (*(__vvv_ctx5)) = (__vvv_vvv_closure4_ctx) {
	104             a,
	105

[2015-02-17 09:08] zhaihj commented on #864
It seems to be a bug in VariableDecl -> captureInUpstreamClosures -> intermediateScopeIndex
W should also check if var is defined in parent closure.

[2015-02-20 12:36] zhaihj commented on #864
A related problem(UNRESOLVED):

    main: func{
        ret := 1
        1 times(|| 2 times(|| ret += 1))
        ret toString() println()
    }

Expect: 3
Got:    1

because rock generate &(&ret) in nested closure...

[2015-02-24 14:28] zhaihj opened #866 "Unable to use ooc-style argument of main in match"
[code]

generates :

    rock/test.ooc:5:33 error Undefined symbol 'args'
            case 1 => "%s" printfln(args[0])
[code]

[2015-03-09 10:01] davidhesselbom commented on #632
In C,
[code]
but in ooc,
[code]

[2015-03-09 10:11] zhaihj commented on #632
@davidhesselbom
in fact a patch is almost finished. It's just lying in my fork.

[2015-03-10 23:39] kirbyfan64 opened #867 "Clang warnings"
Clang whines about passing `-rdynamic` for building objects. A lot:

[code]

Also, I keep getting this warning for various files:

[code]

This is all while building Sam.

[2015-03-10 23:51] zhaihj commented on #867
About `null-dereference`, see this issue:
https://github.com/fasterthanlime/rock/issues/732

this pr fix the rdynamic problem
https://github.com/fasterthanlime/rock/pull/847
you can find more details here:
https://github.com/zhaihj/rock/commit/2e167a2fb0f8f988b18094ec9c07dfe90f99cd84

[2015-03-11 01:04] kirbyfan64 commented on #867
For the null-deref issue, can't Rock just automatically pass `-Wno-null-dereference`?

Clang will also be silent about unused arguments if passed `-Qunused-arguments`.

[2015-03-11 03:30] zhaihj commented on #867
If you are really nervous about `null-dereference` warnings, you can disable it by changing

        *((type*) NULL) : \

to something like

        ((type*) array.data)[0] : \

in `sdk/lang/Array.h`. Currently it is the only source of `null-dereference`.

I'm wondering if disabling warnings is really a good solution, because rock may fail to detect some common errors, while `clang` or `gcc` work

[2015-03-12 09:18] davidhesselbom opened #869 "Assignment operators"
Overriding some of the assignment operators doesn't work. It works for `+= -= *= **= /=`, but for `|= ^= &=`, rock picks the wrong operator (the preceding one in the list of operators in [BinaryOp](https://github.com/fasterthanlime/rock/blob/master/source/rock/middle/BinaryOp.ooc)), `%=` doesn't work at all and `>>= <<=` seem to be mistaken for `> <`. The code below demonstrates the problem. Comme

[2015-03-12 09:57] davidhesselbom commented on #406
Old issue, but this seems like the place for it, so...

I really dislike the look of `if (!(someValue someBool))`. An `unless (someValue someBool)` statement would be neat!

[2015-03-12 10:15] zhaihj commented on #869
It seems that `%=` is not supported in current parser.

`>>=` and `<<=` issue is caused by the following line in parser:

    LESSTHAN     = '<'  !'=' -
    MORETHAN     = '>'  !'=' -

If parser fails to match ">>" then it will try ">", here MORETHAN matches. We should change these lines to:

    LESSTHAN     = '<'  !('=' | '<') -
    MORETHAN     = '>'  !('=' | '>') -

[2015-03-12 11:25] zhaihj commented on #869
Incorrect function call is caused by `%` operator.
We are mapping `opass` to `op` by

    type - Optype addASS - OpType add

but we have an extra `%` operator in the ones without assignment.

[2015-03-16 09:47] davidhesselbom commented on #869
I just noticed now that if both unary and binary `-` operators are implemented, I get
`error Argl, you need 2 arguments to override the '-=' operator, not 1`
Also, the error message reports the line above the one where the operator is implemented, so
[code]
Says
`
error Argl, you need 2 arguments to override the '-=' operator, not 1
    init: func(=x, =y)
`
but
[code]
(all I did was swap lines 4 a

[2015-04-01 08:30] davidhesselbom opened #870 "Wrong specification in Random random function"
[Random random](https://github.com/fasterthanlime/rock/blob/392a89657275918069f7da4309b0e85042c7ed57/sdk/math/Random.ooc#L28) states that it returns

and also [rand](https://github.com/fasterthanlime/rock/blob/392a89657275918069f7da4309b0e85042c7ed57/sdk/math/Random.ooc#L12) is described as a

but stdlib.h says

[2015-04-01 11:01] #870 closed

[2015-04-15 14:24] zhaihj commented on #632
I've been using the patch for a while and it works well.
If anyone would like to test it, I will file a pull request.

https://github.com/zhaihj/rock/commit/873196cc0d1dc1423a9c87b2ab4c1ac48c359c87
https://github.com/zhaihj/rock/commit/efa1c8b47ee39baae4b7185e6be7aa833c937075
https://github.com/zhaihj/rock/commit/e2e314b677efcf6165e46652eb1ace2ae4e6f1d8
https://github.com/zhaihj/rock/commit/2ec549

[2015-04-16 03:21] runeimp opened #871 "Syntax Highlighting for Sublime Text"
It would be nice if the [Editors](http://ooc-lang.org/docs/tools/editors/) page could be updated to include Sublime Text with something like the following

## Sublime Text

Sublime Text has great support for TextMate bundles with the exception of commands. You can use the TextMate [ooc.tmbundle](https://github.com/nilium/ooc.tmbundle) to power the syntax highlighting for ooc within Sublime Text 2

[2015-04-16 05:24] fasterthanlime commented on #871
That sounds great. Can you do that as a pull request to https://github.com/fasterthanlime/ooc-lang.org ?

[2015-04-16 06:46] runeimp commented on #871
Doh! I knew there was another repo with the site. Missed it in my scan earlier. In any case done.  :-D

[2015-04-16 06:46] #871 closed

[2015-04-19 05:14] Murii opened #872 "Hello,new user here with a simple question!"
How can I compile occ to work on android(with sdl)?Are there any samples?Or maybe tutorials?

[2015-04-19 06:26] RomanHargrave opened #873 "There ought to be a way to create covers for C structures/typedefs of the same name."
I'm doing something with X11, the standard library for which uses naming conventions. This is a grave issue, as I need to create covers for the types I need to use (correct me if I am wrong). This presents an issue with some rather general names:

[code]

Which obviously will not work, which means I must decide whether to use some arbitrary internal name to refer to the `Display` structure (bad id

[2015-04-20 13:14] fasterthanlime commented on #872
Hey murii, as far as I know this is the only piece written on the subject:

  * <http://fasterthanlime.com/blog/2013/ooc-android/>

Although it's a pretty specific setup (relies on SDL for most things, geared towards games). Also I'm not using it actively nowadays.

[2015-04-20 13:35] fasterthanlime commented on #873
That's not a *grave issue*, that's a minor annoyance :) Here's an example of how to do it: https://gist.github.com/fasterthanlime/ac6283a8ce34862a4ef4

tl;dr the syntax is:

[code]

[2015-04-20 13:35] #873 closed

[2015-04-20 13:36] #872 closed

[2015-04-23 16:18] geckojsc opened #874 "Problems using HashMap with covers / custom types?"
From what I've tested, the following program *sometimes* segfaults as map get(b) returns null:
[code]

I've tried the following assertions (assuming that these are the functions that were chosen by the HashMap).

[code]

Strangely the 2nd one always fails, which is weird because I thought they should have identical bits, and also weird that the main program sometimes succeeds.

I was able to get a

[2015-04-24 04:18] zhaihj commented on #874
murmurHash may be unincorrect.

* Firstly `SizeT` should be `UInt32`;
* The code:

    data += 4
    if(len < 4) break
    len -= 4

will process extra 4 bytes. But in most time the bytes following value is 0, so it works.

This code should be

    data += 4
    len -= 4
    if(len < 4) break

[2015-04-25 20:35] Allyally opened #875 "'Func' objects behaving weirdly"
Firstly, I had this short piece of code:
[code]
The compiler throws a 'No such function' error on `myFunc(10)`, but can however, be worked around like this:
[code]
Which is just bizarre. Seems like it has difficulty with global Func objects.

The second issue is with Func objects as generic types. For example I can make an ArrayList of Func, but I cannot add items to it:
[code]

This also gives a

[2015-04-26 03:37] zhaihj commented on #875
About this:

    FuncContainer: class <T> {
        f: Func(T)
        init: func(=f)
    }
    saySomething: func(i: Int) {
        "%d" printfln(i)
    }
    main: func {
        fObj := FuncContainer<Int> new(saySomething)
        ar := ArrayList<FuncContainer<Int>> new()
        ar add(fObj)
        ar get(0) f(12)
    }

It is a issue that has been reported (See here: https://github.com/faste

[2015-04-26 09:04] Allyally commented on #875
Strangley, I tried the same code again this morning and it worked without your suggested fix.

[2015-04-26 09:04] #875 closed

[2015-04-26 09:12] Allyally opened #876 "global Func objects"
It seems rock doesn't recognize globally declared function objects.
[code]
The compiler throws a 'No such function' error on `myFunc(10)`. This also fails:
[code]
 but can however, be worked around like this:
[code]

[2015-06-12 12:50] davidhesselbom opened #878 "ooc array sizes"
Check this out:
[code]
When compiled without the GC, checking the resulting binary with valgrind, it reports no errors. However, if you leave out the parentheses (i.e. switch line 2 for line 1), you get read and write errors. The array `length` value will stay the same, but you only malloc enough space for ~~5~~ **2.25 Floats, not 6**, if you leave out the parentheses.

You can access the last ele

[2015-06-15 08:07] davidhesselbom commented on #878
I tried this, also:
[code]
[code]
but didn't get the problem.

[2015-06-15 08:41] davidhesselbom commented on #878
OK, fixed it:
[code]
There needs to be parentheses around `size` or something goes wrong when gcc parses it. This is the dumbest bug I've seen in a long time.

[2015-07-03 18:08] fasterthanlime opened #880 "[Arrays] [sigh] who the fuck thought this was a good idea..."
...to determine the type of a C array from the last element

maybe it was me. But I'm going to find out...

[2015-07-03 18:11] fasterthanlime commented on #880
Okay so it's because of repeated call to findCommonRoot

[2015-07-03 18:18] fasterthanlime commented on #880
Okay so it's probably the right behaviour

[2015-07-03 18:35] fasterthanlime commented on #880
I'm only mad because I lost 5 hours to this suspecting each and every part of my 3d engine and it turns out it was an ooc bug that I didn't even cause

[2015-07-03 18:37] fasterthanlime commented on #880
Okay so it's not actually the right behavior, cause it takes the last floating point type so if you have:

[code]

You get an array of doubles, but if you do

[code]

You get an array of floats, and that's because of this snippet in findCommonRoot:

[code]

[2015-07-03 19:17] fasterthanlime opened #881 "ooc array literals assignments don't infer correctly"
If you do this:

[code]

It's all fucked, because the literal is a `Double[]`. That's wrong, obvs.

[2015-07-03 19:18] #880 closed

[2015-07-03 19:18] fasterthanlime commented on #880
Continued in #881..

[2015-07-03 20:42] #881 closed

[2015-07-07 19:45] fasterthanlime opened #882 "Double closures = wrong byref closure capture"
Sample:

[code]

## Expected behaviour

Print "Three"

## Current behavior

Print "Two" and writes to a random memory location.. which is really really bad. C compiler only emits a warning (`Gift*` vs `Gift**`)

[2015-07-07 19:46] #882 closed

[2015-07-07 20:41] davidhesselbom commented on #882
Nice, need to see if this fixes #864.

[2015-07-07 20:44] fasterthanlime commented on #882
Hey @davidhesselbom! Hmm no, looks like a different issue but it shouldn't be a hard fix.

Sorry about being the worst maintainer ever in the history of open source projects btw, just doing some selfish bugfixes because our engine for [Jaakan](https://jaakan.nevargames.com/blog/) is written in ooc.

[2015-07-07 20:53] fasterthanlime commented on #864
My example (for the original issue, not #882)

[code]

Note that if you change `func1 := ` to `func1: ` it doesn't happen. Looks like `isDefined` doesn't do the right thing..

[2015-07-07 20:54] #864 closed

[2015-07-07 20:54] fasterthanlime commented on #882
@davidhesselbom well that wasn't hard at all :) props to @zhaihj for finding the erroneous comparison.

[2015-07-08 01:08] ejmr opened #883 "Emacs Mode for Rock"
It would be nice to have a simple Emacs mode for this programming language.  I will write it in the near future and submit it as pull request, unless there are any objections to including such a thing within the project.

[2015-07-08 06:09] fasterthanlime commented on #883
As per http://ooc-lang.org/docs/tools/editors/#emacs there is already an ooc mode, although it hasn't been touched since 2010 and could certainly use some love!

Even the vim syntax and the pygments highlight file (what GitHub uses to do syntax colouring) could use some love, I don't think they support new stuff like floating point literal support.

It would be easier to have comprehensive syntax

[2015-07-08 06:12] fasterthanlime commented on #883
(So, closing, but feel free to open a pull request on https://github.com/fasterthanlime/ooc-lang.org if you have a more updated fork of ooc-mode — provided @nixeagle isn't interested in shepherding it anymore!)

[2015-07-08 06:12] #883 closed

[2015-07-08 06:12] fasterthanlime commented on #878
Hahaha that is a good one, thanks for the catch!

[2015-07-08 06:13] ejmr commented on #883
Thanks for the info!  I'll take a look at the existing `ooc-mode` and hack on it in my spare time.  If I make any significant improvements I'll be sure to send them your way.

[2015-07-08 06:15] fasterthanlime commented on #878
Wondering if the same bug could exist for 'index' ? Maybe if comma-separated expression existed, like in C.. hmm don't we use that for generics ? But in that case they're already parenthesized..

[2015-07-08 06:17] #878 closed

[2015-07-08 06:22] fasterthanlime commented on #876
My version of the test, using string interpolation & more importantly, making sure closures still work in that context:

[code]

[2015-07-08 06:25] #876 closed

[2015-07-08 06:26] davidhesselbom commented on #878
The fix was also available in #879, but I guess doing it yourself was easier than rebasing and stuff. Glad you're back, if ever so briefly.

[2015-07-08 06:31] fasterthanlime opened #884 "Assigning closures, double-wrapping in struct Closure"
## Test code

A twist on #876's sample:

[code]

## Expected result

Should compile, run, and print:

[code]

## Current result

Invalid C gets generated:

[code]

Relevant .c snippet:

[code]

Not really planning on fixing it right this moment, but I don't think it should be too hard.

[2015-07-08 06:34] fasterthanlime commented on #878
@davidhesselbom I sometimes cherry-pick commits, but often I have slightly differing stylistic opinions on fixes (which I realize is frustrating since most of the codebase isn't up to those standards, yet I'm asking that of patches..) — so when it's just a few lines, I just do it by hand. Always try to give credit for it in the commit message though. As for #879, I just completely missed it :(

[2015-07-08 06:46] davidhesselbom commented on #878
Right, yeah, the SDK is stylistically inconsistent. When you see things like `    gc_register_finalizer: extern(GC_register_finalizer) func (ptr: Pointer, finalizer: Pointer, userdata: Pointer, wtf1: Pointer, wtf2: Pointer)`, though, it's hard to believe anyone cares :suspect:

[2015-07-08 06:52] fasterthanlime commented on #874
Ugh, another remnant from the big SizeT fight of.. 2011 ? I should've stood my ground back then.

[2015-07-08 06:52] #874 closed

[2015-07-08 07:07] fasterthanlime commented on #878
That's pretty insulting.

Just git blamed that line, it's mine alright. Did you just grep the code for 'wtf' or do you have a particular bone to pick with `GC_register_finalizer`?

Just looked around some, and here's what I found:

  * In the official header, the argument names are:

[code]

  * In most code samples one can find that actually uses GC_register_finalizer, the last three arguments ar

[2015-07-08 07:20] fasterthanlime commented on #866
I wonder why we're mangling the argument's name in the first place..

[2015-07-08 07:21] #866 closed

[2015-07-08 07:25] fasterthanlime commented on #863
So, the correct behaviour is to disallow such a declaration.

[code]

Same goes for tuple declarations.

[2015-07-08 07:31] davidhesselbom commented on #878
It wasn't meant to be *that* insulting, so, I apologize. I know you have other things to do outside of maintaining ooc - it just doesn't seem like ooc is taken very seriously, so it's hard to believe that you care that much about stylistic details in pull requests.

The reason I even found the `GC_register_finalizer` is because we we've been going through most of the SDK looking for possible cause

[2015-07-08 07:35] vendethiel commented on #878
@fasterthanlime keep up the good work ;-)

[2015-07-08 07:47] fasterthanlime commented on #863
Making progress

<img width="447" alt="screen shot 2015-07-08 at 09 47 25" src="https://cloud.githubusercontent.com/assets/7998310/8565456/5e68f82e-2556-11e5-8f88-57614afb567c.png">

[2015-07-08 07:54] vendethiel commented on #863
Is this going inside some test/ folder?

[2015-07-08 08:02] fasterthanlime commented on #863
Even better:

<img width="553" alt="screen shot 2015-07-08 at 10 01 51" src="https://cloud.githubusercontent.com/assets/7998310/8565712/687ca764-2558-11e5-97fe-c1c61b241882.png">

@vendethiel Well, it should. Messed it up for the previous few fixes, will do it for this one.

[2015-07-08 08:08] #863 closed

[2015-07-08 08:40] vendethiel commented on #863
Great to hear :+1:

[2015-07-08 11:08] fasterthanlime opened #885 "Tries unwrapping ACS even when it's not one"
Test:

[code]

Will fail because it assumes the inner function `f` is an ACS and it'll try to find the outer function call so it can infer argument types (even though there aren't any but that's irrelevant).

Started nagaqueen support in https://github.com/fasterthanlime/nagaqueen/commit/8d6a07697717803e2c42a675f552859ab7a86362

[2015-07-08 11:09] #885 closed

[2015-07-08 16:46] fasterthanlime opened #886 "Interpolated string literals are broken in cover templates"

[2015-07-08 16:47] fasterthanlime opened #887 "Subtle cover template bug due to resolution order"

[2015-07-08 16:47] #886 closed

[2015-07-08 16:47] #887 closed

[2015-07-08 17:25] #884 closed

[2015-07-08 17:52] #869 closed

[2015-07-08 18:19] fasterthanlime opened #888 "Operator overloads should be checked on definition, not on use"
Right now if you do something like:

[code]

Everything goes fine until you try to use it.

[2015-07-08 18:20] #888 closed

[2015-07-08 18:23] #856 closed

[2015-07-08 18:43] #829 closed

[2015-07-08 18:54] fasterthanlime commented on #795
Note that this works:

[code]

I'm pretty sure rock should forbid array casts of any form. In your case.. it might be that it should work, I'm not entirely sure yet. But I'm wondering what's the timing with `autoReturn`. It would have to be aware it's returned to infer its type, so:

[code]

So.. is it really worth trying to make it work like that?

[2015-07-08 19:14] fasterthanlime commented on #878
No need — the fact that reading such comments puts me in a bad mood and kills my motivation to spend more time fixing ooc bugs is my problem, not yours. It's never nice to read that, but in an ideal world, I should be able to keep working no matter what anyone says about my work.

Well, yes and no. Once upon a time I was really chasing people's approval on ooc, trying to please everyone, trying to

[2015-07-08 19:59] vendethiel commented on #878
you mean to "indirect" :P

[2015-07-09 07:13] davidhesselbom commented on #878
I don't want to take more of your time, so I'll try to be brief, but:

That's not true, and you know it. The more time you spend working on ooc, the less time me and my colleagues have to spend trying to figure out why things don't work as expected. When you get around to it, you get several weeks' worth of issues fixed in a single night. Insulting you, putting you in a bad mood, and having you wr

[2015-07-09 10:11] fasterthanlime commented on #878
Well, I get your point (and appreciate the kind words), but really, no, it's my problem. You don't "put me in a bad mood", you say things that I choose to interpret in a certain vexing way, and allow them to make me feel bad. If I can fix that problem, I'll be invincible :)

Yes, that's why I don't want to rely on ooc for anything crucial. As the maintainer-dude, I know how to work around most bug

[2015-07-09 10:17] kuon commented on #878
There is always someone who cares.

[2015-07-09 11:01] #840 closed

[2015-07-09 11:28] davidhesselbom commented on #878
![responsibility12 alternate](https://cloud.githubusercontent.com/assets/4319680/8594054/b13e9198-263d-11e5-82c7-f5e819ae188f.png)

I know, it doesn't work that way. You mention some interesting reasons why/why not, though. I can't say I envy your position as maintainer, haha...

[2015-07-09 11:45] fasterthanlime opened #889 "Accessing generic member requires explicit cast, but shouldn't"
Test:

[code]

Expected behaviour: pass
Current behaviour: compiled error (you can't call methods on generic types, blah)

[2015-07-09 11:46] fasterthanlime commented on #889
Got a 90% fix for that, just shouldn't do it in case of lhs.

[2015-07-09 12:15] fasterthanlime commented on #889
Might be a dupe of #361

[2015-07-09 14:18] #889 closed

[2015-07-09 16:48] fasterthanlime opened #890 "Assignment unwrapping fails when return args are involved"
This will crash at runtime:

[code]

Because:

[code]

Is turned into:

[code]

But really, what happens is that

[code]

Is turned into: (mix of C & ooc syntax.. (a, b, c) is a comma sequence - executes all statements, evaluates to last element)

[code]

And then unwrapped, since `Ditto` only has a `+` operator, but somehow it's the commaSequence that's being cloned, and FunctionCall doesn't clon

[2015-07-09 17:18] fasterthanlime opened #891 "Casting to generic should be forbidden except from Pointer"
Casting to `T` doesn't work too well apparently..

[code]

[2015-07-09 17:31] fasterthanlime commented on #890
So, since we can't really tell the `FunctionCall` in advance that it's going to be cloned at some point so we can unwrap an assignment... the "fix" is to let `CommaSequence` know where it comes from, so that when a `CommaSequence` is cloned, if it comes from an unwrapped `FunctionCall`, it returns a clone of that instead, leaving it a chance to unwrap again, in the new context.

Thus:

[code]

Is

[2015-07-09 17:34] #361 closed

[2015-07-09 17:34] #890 closed

[2015-07-09 17:42] fasterthanlime opened #892 "Cast is considered to have side effects, generate unneeded code in generic return"

[2015-07-09 17:42] #892 closed

[2015-07-09 17:51] fasterthanlime opened #893 "Improve 'pointer being cast to a struct' error message"
Who even throws an exception in rock code? :( @showstopper

[2015-07-09 17:52] fasterthanlime commented on #892
Actually it does, if inner does..

[2015-07-09 18:54] fasterthanlime commented on #891
Actually, casting to generics should be forbidden, except from Pointer (so `structs/HashMap` keeps working, for instance).

[2015-07-09 19:08] #891 closed

[2015-07-09 19:08] #893 closed

[2015-07-09 19:30] fasterthanlime commented on #860
@zhaihj I added a test case for that, but it's not crashing for me. Looks like it's crashing in `findAllImports`, which suggests it crashed parsing some other file? Probably not easy for you to reproduce :(

[2015-07-09 19:31] fasterthanlime commented on #860
Gonna close for now, re-open if you encounter it again & can track the offending file!

[2015-07-09 19:31] #860 closed

[2015-07-09 19:34] #827 closed

[2015-07-09 19:34] fasterthanlime commented on #827
Added your test case @shamanas, and it does fail with a compile error. Tell me if I missed something.

[2015-07-09 19:36] fasterthanlime commented on #851
Seems like this has been fixed in master, not sure why this bug is still open!

[2015-07-09 19:36] #851 closed

[2015-07-09 19:40] fasterthanlime commented on #817
Hey @iluuu1994, long overdue but.. can you still reproduce this issue? As far as I can tell, in rock's Makefile, make is only invoked via `$(MAKE)` which is the Right Way :tm: to do it, as far as I know!

`all-recursive` looks like it could be from Boehm GC. We've probably updated it since, so it might not occur anymore? I don't have that issue on OSX, but I don't have any funky partition layout e

[2015-07-09 19:44] fasterthanlime commented on #815
So, that's a pretty old issue, and unfortunately I don't think it has anything to do with rock :(

Just ran the following:

[code]

Both with GC on and off, and it only gives me reasonable pointer values, not impossibly big ones. If you do manage to find out where it's from, and it's caused by rock, don't hesitate to re-open. Otherwise.. it'll remain a mystery!

[2015-07-09 19:44] #815 closed

[2015-07-09 19:51] iluuu1994 commented on #817
Well, I'm now back down to one partition so I can't test this.
It's working now, so I'll let you decide if you want to close this issue or keep it ;)

[2015-07-09 19:52] fasterthanlime commented on #817
Well, it didn't seem exactly related to our own Makefile, so I'm gonna close it until someone encounters it again!

[2015-07-09 19:52] #817 closed

[2015-07-09 20:06] fasterthanlime commented on #808
Original issue closed in https://github.com/fasterthanlime/ooc-lang.org/commit/8ee8033c6c5c51f3148b4056b6b039ea8b530c86 — feature request is a separate thing.

[2015-07-09 20:06] #808 closed

[2015-07-09 20:06] fasterthanlime commented on #808
(Note: not deployed the website yet, but will do)

[2015-07-09 20:08] fasterthanlime commented on #867
Well, #847 has been merged, and the other ones were closed in https://github.com/fasterthanlime/rock/commit/11eb3e268f17c014f86992b5968b45aa2c6fef5a, so I think this can be closed.

[2015-07-09 20:08] #867 closed

[2015-07-09 20:30] fasterthanlime opened #894 "Use showNearestMatch in more cases"

[2015-07-09 20:40] fasterthanlime commented on #825
Ooh, that looks good

<img width="880" alt="screen shot 2015-07-09 at 22 39 33" src="https://cloud.githubusercontent.com/assets/7998310/8606362/6d795670-268b-11e5-9443-99ec672ae8c8.png">

[2015-07-09 21:08] fasterthanlime opened #895 "Sometimes Type typeArgs gets a VariableDecl instead of a TypeAccess"
For example in `__va_call`.. gotta investigate further.

[2015-07-09 21:38] vendethiel commented on #825
Just a question... what is the performance impact of such unification with say, an array literal of 500 elements?

[2015-07-09 21:39] fasterthanlime commented on #825
Ehhh now is not the time for such questions.

[2015-07-09 21:40] fasterthanlime commented on #825
(But it'd be interesting to make a stress test & optimize from there. Later.)

[2015-07-09 21:42] fasterthanlime commented on #825
So, there'll probably be about a dozen duplicates of this in the future.. but at least for this case, I have a fix.

I've tried going further but then the sdk starts showing cracks everywhere so uh, better left for another time. At least we're on the path to basic sanity.

[2015-07-09 21:44] vendethiel commented on #825
fair enough ;-)

[2015-07-09 21:56] #825 closed

[2015-07-09 21:58] #645 closed

[2015-07-09 21:58] fasterthanlime commented on #645
@zhaihj, you were right :)

[2015-07-09 22:09] fasterthanlime opened #896 "Waiting for NagaQueen.c is annoying"
It almost never changes.. why don't we cache it?

[2015-07-09 22:25] fasterthanlime commented on #894
Before:

<img width="507" alt="screen shot 2015-07-10 at 00 25 29" src="https://cloud.githubusercontent.com/assets/7998310/8608329/2fae2b68-269a-11e5-921d-dd3a316b4e23.png">

After:

<img width="607" alt="screen shot 2015-07-10 at 00 24 50" src="https://cloud.githubusercontent.com/assets/7998310/8608326/2385846c-269a-11e5-8aaa-53ec4167b589.png">

Ahhh that's better.

[2015-07-09 22:30] fasterthanlime commented on #894
Other goodies:

<img width="533" alt="screen shot 2015-07-10 at 00 30 17" src="https://cloud.githubusercontent.com/assets/7998310/8608398/df075904-269a-11e5-9d6b-37e454dcfe81.png">

(Courtesy of @shamanas, it was just currently broken)

[2015-07-09 22:33] #894 closed

[2015-07-09 22:44] #632 closed

[2015-07-09 22:44] #633 closed

[2015-07-09 22:46] fasterthanlime commented on #595
Well, now the error message is even more ironic...

<img width="1022" alt="screen shot 2015-07-10 at 00 46 13" src="https://cloud.githubusercontent.com/assets/7998310/8608647/17233ef0-269d-11e5-96b9-3f5484244725.png">

[2015-07-09 23:12] #595 closed

[2015-07-09 23:26] #699 closed

[2015-07-09 23:50] #811 closed

[2015-07-09 23:50] fasterthanlime commented on #811
Well, that syntax is still not supported, but at least it throws a rock error now, not a segfault.

[2015-07-10 00:10] #803 closed

[2015-07-10 00:12] fasterthanlime commented on #803
Sure, it was a bug. Fixed now

[2015-07-10 00:38] fasterthanlime opened #898 "Some tokens get negative length"
[code]

Not sure why but the `Cell` has [192, 190]. Gonna work around it for now...

[2015-07-10 00:51] #802 closed

[2015-07-10 00:51] fasterthanlime commented on #802
So, matching the actual typeArgs should be another issue (if at all), but matching generic types without specifying typeArgs at all is now possible.

[2015-07-10 01:10] #565 closed

[2015-07-10 01:11] fasterthanlime commented on #565
<img width="493" alt="screen shot 2015-07-10 at 03 11 00" src="https://cloud.githubusercontent.com/assets/7998310/8610361/56aa8286-26b1-11e5-9338-819768bf1f48.png">

Both in top-level (Module) and function bodies. Might not be so in scopes though.. good candidate for a follow up some time in the future when I feel like touching that again.

[2015-07-10 01:12] fasterthanlime commented on #565
Also, the token positions are.. funky, to say the least. Might be related to #898? Hard to tell.

[2015-07-10 01:12] fasterthanlime commented on #559
Well, that's done.

[2015-07-10 01:12] #559 closed

[2015-07-10 01:14] fasterthanlime commented on #425
Ah, there we go. That was fixed as #889

[2015-07-10 01:14] #425 closed

[2015-07-10 01:46] #348 closed

[2015-07-10 01:46] fasterthanlime commented on #348
The ArrayLiteral code is a clusterfuck btw :(

[2015-07-10 01:47] fasterthanlime commented on #794
No feedback.. not enough active development lately to justify it, meh.

[2015-07-10 01:47] #794 closed

[2015-07-10 03:43] zhaihj opened #899 "extern enum ?"
In the document of official site ( http://ooc-lang.org/docs/lang/enums/ )
It says:

Or, each element can be aliased individually:
[code]

However, when I try to compile it, rock gives:

[code]

[2015-07-10 11:03] fasterthanlime opened #902 "Add --use=some-lib option"
So sam can add its assertion stuff without writing to another ooc file

[2015-07-10 11:04] #902 closed

[2015-07-10 11:12] fasterthanlime commented on #899
Alright so extern enums (as in, using the `extern` keyword with an enum) is broken, I don't think it should even be allowed right now.

As for parameters that are in fact aliases, the doc is wrong, it should read:

[code]

This, plus:

[code]

Does compile.

[2015-07-10 11:17] #899 closed

[2015-07-10 11:20] #795 closed

[2015-07-10 13:48] #842 closed

[2015-07-10 14:17] davidhesselbom opened #903 "rock picks the wrong variable when choosing between tuple component and instance variable"
# Test code

[code]

# Expected result

Print `1337, 1337`

# Current result

Print `0, 0`

rock picks the instance variable `x` instead of the variable `x` in the tuple.

[code]
# Suggested solution

Whenever a variable name e.g. `x` causes ambiguity between the local variable `x` and `this x`, rock should pick the local variable unless `this` is written explicitly. I think that's what happens no

[2015-07-10 14:28] davidhesselbom commented on #815
I meant to revisit a few old issues and close any I didn't need fixing to save you some time, but you beat me to it. Will re-open if it ever turns out to be an actual problem.

[2015-07-10 15:38] davidhesselbom opened #904 "Grouping imported files by path in .use files"
In `.ooc` files, it's possible to write things like `use path/to/[File1, File2, AnotherFile]`. This doesn't seem to work with the `Imports:` directive in `.use` files, but would be neat.

[2015-07-10 15:58] fasterthanlime commented on #904
As in, the 'Imports' directive of .use files?
On Jul 10, 2015 5:38 PM, "David Hesselbom" <notifications@github.com> wrote:

[2015-07-10 15:59] davidhesselbom commented on #904
Yes, I edited my answer to clarify. Sorry about being unclear.

[2015-07-10 16:00] fasterthanlime commented on #904
No problem, just had me wondering for a while, "do namespaced usedefs even
exist?"
On Jul 10, 2015 5:59 PM, "David Hesselbom" <notifications@github.com> wrote:

[2015-07-10 17:04] #904 closed

[2015-07-10 17:10] fasterthanlime commented on #903
Lil' note, now that `sam-assert` is used pretty much everywhere in rock, using it makes my life even easier when fixing bugs.

Adaptation of your example above:

[code]

Compile with `rock --use=sam-assert something.ooc` or `sam test rock.use --test test/compiler/something.ooc`. (Or add the `use sam-assert` yourself on top)

[2015-07-10 17:35] fasterthanlime commented on #903
Also! Even though there's a real bug in there, your sample would fail anyway :) it's just building *another instance* of Foo. The correct version reads:

[code]

[2015-07-10 17:37] #903 closed

[2015-07-10 18:27] davidhesselbom commented on #903
Haha, oh. But... I'm pretty sure it "worked" (as in, it gave the expected output) when I replaced `makeXY` with `makeX` (which just returned an `Int`, so there was no tuple). Can't verify right now though, since I'm on a rock-less machine.

Oh, cool! Does that mean that next time I run into something like this, I can (and/or should) make a pull request with a failing test in addition to the issue.

[2015-07-10 18:34] fasterthanlime commented on #903
But... but that's impossible :( Calling 'This new' doesn't act on the same instance (hopefully it's clear why?). Could it be another bug in disguise?

Just tested what I think you're talking about, and it definitely still fails for me:

<img width="1435" alt="screen shot 2015-07-10 at 20 30 29" src="https://cloud.githubusercontent.com/assets/7998310/8626040/9b23f078-2742-11e5-885a-fe2aa2330096.png

[2015-07-10 18:39] #534 closed

[2015-07-10 18:41] davidhesselbom commented on #903
Ugh. I really shouldn't try to recollect what happened. I'll try again on that same machine on Monday and see if my brain's just pulling its own leg...

[2015-07-10 19:00] fasterthanlime commented on #826
Looks like it was fixed at the same time as #825

<img width="814" alt="screen shot 2015-07-10 at 20 59 09" src="https://cloud.githubusercontent.com/assets/7998310/8626743/87bae984-2746-11e5-803a-b4963443b18a.png">

[2015-07-10 19:00] #826 closed

[2015-07-10 19:03] fasterthanlime commented on #306
I'm pretty sure making this work would slow down the compiler. Any particularly good use case behind that feature ?

[2015-07-10 21:10] #346 closed

[2015-07-10 21:10] fasterthanlime commented on #346
@fredreichbier @shamanas well you both lost! sucks to be y'alllllllllll

*drops :microphone:*

[2015-07-10 21:11] fasterthanlime commented on #346
(Note: `Type owner` is still veeery experimental but it does solve that exact case. I'm pretty sure by poking around we can find other similar problems, and solve them accordingly)

[2015-07-11 04:39] zhaihj opened #905 "super() may pick incorrect function"
Test code:
[code]

Expected:

[code]

Got:

[code]

Because functions with (different) suffixes will have lower scores regardless of which level they are.
Should this be treated as bug,  or just a feature?

related issue in ooc-kean(fixed): https://github.com/cogneco/ooc-kean/issues/128
my patch: https://github.com/zhaihj/rock/commit/9ae66dcbb07509710a7224345142068c1cb1b800

[2015-07-11 10:30] fasterthanlime commented on #905
I'm conflicted on this. My original vision of suffixes was that they were used to mark `variants` of functions, the suffix-less being the original / main version. Which explains why suffix-less functions get a higher score.

Your patch gives a higher score to functions that are closer in the type hierarchy right? Although it does fix that particular test case, doesn't it make function scoring even

[2015-07-12 08:32] zhaihj opened #906 "Malformed function definition may crash the compiler"
When trying to compile the following code:
[code]

rock crashes, because `func(test: Int)` is recognized as a function definition but it doesn't have a valid name.

[code]

[2015-07-12 09:07] zhaihj commented on #906
Maybe we should disable defining anonymous function in class and cover.
It should not be too difficult: https://github.com/zhaihj/rock/commit/8e0936dfb429fe16da0421bc43dc647254da6a38

[2015-07-12 09:31] zhaihj opened #907 "Problem still exists for nested closure"
Test code:

[code]

Expected:
2

Got:
GCC compilation error.(undefined e,d)

[code]

Reason:
Rock adds undefined variable into closure_ctx.

In `void test2_load()`:
[code]
However, `e` and `d` is defined in closures, which do not belong to `test2_load`.

My patch:
https://github.com/zhaihj/rock/commit/067edf232367c6216da53d2b8b8b63564c974bb5

[2015-07-12 09:50] #906 closed

[2015-07-12 09:50] fasterthanlime commented on #906
I'm fine with disallowing that for now. Thanks!

[2015-07-12 10:54] #907 closed

[2015-07-12 11:17] fasterthanlime opened #908 "rock throws exception on non-existent classpath elements"
It should be a warning at most

[2015-07-12 14:19] fasterthanlime opened #909 "tests involving properties are pathologically slow"
They routinely take ~4200ms instead of ~700ms

[2015-07-12 17:17] davidhesselbom commented on #909
Building, you mean?

[2015-07-12 17:30] fasterthanlime commented on #909
Yup, I think properties-related code in middle-end return 'Response LOOP' a lot, which makes the whole thing a lot slower

[2015-07-12 19:52] davidhesselbom commented on #909
Alright. We run a number of tests on Travis CI, and those each take several seconds to build, but I never thought it was due to properties (we use them a lot). Interesting.

[2015-07-12 20:47] fasterthanlime commented on #909
Ya, whole rock is on travis too, and that's what I'm talking about:

[code]

So it's not *all* properties tests, just some

[2015-07-13 00:35] zhaihj commented on #626
Now rock checks the typeargs.

So I guess this issue may have been solved?

My tests:

Valid code: (compiles and run)
[code]

Invalid code A: (error, non static func will take `this` as the first parameter)

[code]

[code]

Invalid code B: (error, can not assign normal function (accpets value) to generic function (accepts pointer))

[code]

[code]

[2015-07-13 00:44] zhaihj commented on #375
This issue should have been fixed by pr 843.

[2015-07-13 00:49] zhaihj commented on #306
In my opinion, static member should always be accessed through Class but not instance.

Accessing them with instances is confusing:
[code]

Programmer may think that `bar val` and `baz val` are two totally different values, but they are the same.

[2015-07-13 05:04] fasterthanlime commented on #306
@zhaihj Yeah, the only place where it should be allowed should be completely unqualified, within a type decl, like so:

[code]

[2015-07-13 06:01] fasterthanlime commented on #375
Yup, we even have 3 tests for it.

[2015-07-13 06:01] #375 closed

[2015-07-13 06:31] fasterthanlime commented on #626
@zhaihj I noticed you're now using `Foo` instead of `foo` as class name :) That makes me happy. Another thing: can you write tests in the format used in rock's official test suite? Using sam-assert (`describe`, `expect`), making sure there's something to run rather than just it compiling, so we can see if it crashes at runtime.

[2015-07-13 06:38] #626 closed

[2015-07-13 11:08] zhaihj commented on #626
Yes, I will make sure all tests use sam-asset from now on.
Just a small question, should tests use sam-asset explictly? Because I find you removed `use sam-asset` from some tests.

[2015-07-13 13:51] fasterthanlime commented on #626
`sam-assert`, not asset ;)

Yes, for some tests I used to add `use sam-assert` myself (when it made rock crash for example, so I had to launch rock via gdb), but now that we have the `--use=sam-assert` option for rock it's not necessary.

So I never put `use sam-assert` on top of tests anymore. Except if they crash rock you can just write a new test in `test/compiler/something/sometest.ooc` and ru

[2015-07-13 13:52] fasterthanlime commented on #626
In case you're not in our [mailing list](https://groups.google.com/forum/#!forum/ooc-lang), I improved the documentation of sam on ooc-lang.org: https://ooc-lang.org/docs/tools/sam/

[2015-07-13 14:10] fasterthanlime commented on #702
Just made a useful page on the wiki for debugging rock, btw: <https://github.com/fasterthanlime/rock/wiki/Debugging-rock> /cc @zhaihj

[2015-07-13 14:14] davidhesselbom commented on #702
Nice!

[2015-07-13 15:28] davidhesselbom commented on #903
So, after pulling the latest version from the master branch, this
[code]
still generates this
[code]

[2015-07-13 15:34] davidhesselbom commented on #903
Uh, forgot to `make install`. Sorry about that... still, even with that dealt with, and `rock --version` printing (), I still get poor results with `sam test` - 51 failures out of 169 (although it happens a lot slower now, about half a second for each test instead of 0 or 1 ms).

[2015-07-13 15:57] fasterthanlime commented on #702
@davidhesselbom oh so the commit isn't nice? :'(

[2015-07-13 15:57] fasterthanlime commented on #702
(kidding)

[2015-07-13 15:59] fasterthanlime commented on #903
Yeah you need to update sam :)

[2015-07-13 15:59] fasterthanlime commented on #903
rock should probably err since it's ont picking up sam-assert though

[2015-07-13 16:02] davidhesselbom commented on #702
Well, it's nice enough, just not my type.

[2015-07-13 16:03] davidhesselbom commented on #903
Oh. Right. Forgot I still had that lying around, heh.

[2015-07-13 16:12] fasterthanlime commented on #702
@davidhesselbom I thought you wanted cleaner code :(

[2015-07-14 06:27] davidhesselbom commented on #702
Sure do! The commit is a bit too large for me, though, and I don't have the time to try to understand what it actually does. Did it help with the run-time of those property tests?

[2015-07-14 07:07] davidhesselbom commented on #903
Alright, everything seems to be working now, and you were right about `This new` above. I probably made that up unintentionally.

[2015-07-14 07:11] fasterthanlime commented on #702
@davidhesselbom well, my refactoring streak involves many different things:

  * Reformat rock & sdk code according to my standards (which I'll document once I'm done doing it)
  * Migrate deep-debugging code from `printf` or `println` to `token printMessage`, which shows source location (just like a rock compile error)
  * Get rid of `return Response LOOP` as much as possible — ideally it should

[2015-07-14 07:11] fasterthanlime commented on #903
Cool, good to know!

[2015-07-14 07:12] fasterthanlime opened #910 "UnaryOp, BinaryOp, ArrayAccess, Comparison have a lot of code duplication"
Was made painfully obvious in 91bc26ba7fe6fae6eed9d72d877413751d9597d3

I'm pretty sure we can find a way for them to use a common routine.

[2015-07-14 07:19] davidhesselbom commented on #702
All good things. Thanks for the breakdown!

BTW, I noticed you added a space between keywords and `(`, but only in some places. There's been a bit of an argument around the office about whether or not we should do that. Though easy to fix with a search-and-replace, it's easy to forget, so it's one of those things our style-checker (which I'll show you as soon as it's ready) warns about.

[2015-07-14 07:27] davidhesselbom commented on #905
In other languages I've used, to overload a function, you give two functions the same name but different signatures. In ooc, that doesn't work, so you use suffixes instead. Coming from C#, I still *think of them* as overloads, though, so the above behavior is confusing to me, because I expect the `super` call to match on signature. I don't know if this helps at all with figuring out what the right

[2015-07-14 07:55] fasterthanlime commented on #905
@davidhesselbom The original intent behind suffixes was to have sane mangling of names in the generated C. Arguably, that's still useful.

[2015-07-14 07:59] davidhesselbom commented on #905
Sure.

Thinking out loud, what if rock was to disallow having several functions with the same name and the same signature, but that have different suffix? Or at least give a warning?

[2015-07-14 08:02] davidhesselbom commented on #905
Or, throw a warning that a call like `super(a, c)` in the `Baz` class above is ambiguous?

[2015-07-14 08:03] davidhesselbom commented on #905
In my experience, it's often easier to come up with good ideas when people around you come up with bad ones.

* hides *

[2015-07-14 08:06] fasterthanlime commented on #905
It's not actually a bad idea, was the thing that came to mind when reading the code in this thread. The code in this thread looks silly to me, but hey who am I to decide what users can and can't do.

We don't have a way to disable warnings yet, though, so then we're gonna get complaints about the warning people can't disable.

[2015-07-14 08:22] fasterthanlime commented on #702
Yep

Because of [this comment](https://github.com/fasterthanlime/rock/commit/1112d9a29c173d9d90e7270e3515a000741f7d4c#commitcomment-12096805), I don't do it systematically when fixing other stuff. But it'll propagate to the rest of the codebase as time goes by. Checker would help indeed.

[2015-07-14 08:30] davidhesselbom commented on #905
It may look silly, but I've spent a lot of time debugging code that didn't work the way I wanted it to due to this exact behavior, all this because I wrongly assumed that `super` with a given sequence of argument types would call that function in its immediate parent class regardless of suffixes.

If a warning can be silenced, that would imply that rock isn't actually picking the *wrong* function,

[2015-07-14 08:36] fasterthanlime commented on #905
That sounds like a separate issue. Afaict it's not clearly specified in the doc, but it would make sense to limit it to the immediate parent. That sounds like a much cleaner fix than a layer system

[2015-07-14 08:47] davidhesselbom commented on #905
In @zhaihj's example, the `super(a, c)` call in `Baz` calls `test(a, c)` not in its parent class `Bar`, but in its grandparent class `Foo`, despite having the same sequence of argument types (`Int`, `SizeT`) as `test` in its parent class `Bar`, and this happens because of differing suffixes (`~somesuffix` vs. no suffix). This can be described as "rock picking the incorrect function" if you assume

[2015-07-14 08:52] fasterthanlime commented on #905
It's a separate issue because the actual bug is "there is no language spec that says what needs to be picked in that case", whereas rock does exactly what I designed it to do, afaict.

[2015-07-14 08:55] davidhesselbom commented on #905
Oh you mean

is a separate issue. Agreed.

[2015-07-14 08:59] fasterthanlime commented on #905
What actually needs to be done is:

  * Say on the website that `super()` only ever calls methods from the direct parent*
  * Make rock adhere to that behavior
  * Original issue doesn't exist anymore

[2015-07-14 09:04] davidhesselbom commented on #905
Alright. So then, after all that has been done, in the above example, you would get the expected output
[code]
and if `Bar` has no implementation at all of `test` (but `Foo` still does), you get some compiler error that complains `Bar` has no implementation of `test`?

[2015-07-14 09:13] zhaihj commented on #905
A more confusing case:(just add suffix to `Baz test`)

[code]

The output of this code is:
[code]

However, we are calling `test` on an instance from `Baz`.
I think getting `Baz test` is more naturally instead of `Foo test`, at least in this case.

[2015-07-14 09:15] davidhesselbom commented on #905
I agree. That's definitely not what I'd expected.

[2015-07-14 09:15] fasterthanlime commented on #905
@zhaihj @davidhesselbom yes, and my proposal fixes that example too

[2015-07-14 10:53] zhaihj commented on #908
It seems that there's no clean way to throw a warning in front-end?
Only middle-end can print a warning by `Resolver throwError(Warning)`,
but the resolver is not available in front-end.

[2015-07-14 11:21] fasterthanlime commented on #908
That's true, the current workaround used in various parts of rock is to go through the token:

[code]

As for `AstBuilder`, you have direct access to `params`, so that should be even easier.

[2015-07-14 14:00] kirbyfan64 commented on #702
Simple solution:

[code]

Best style checker around. ;)

[2015-07-15 09:22] fasterthanlime commented on #908
Closed in 784b3c31a155e415508ccbe861a37becb8a0a199

[2015-07-15 09:22] #908 closed

[2015-07-15 14:26] shamanas commented on #306
@zhaihj
I agree, however in the case of static funcs that take an object of that class as the first argument, I think it makes sense since a non-static method is(/should be?/debatable?) syntactic sugar for exactly that.

I know D takes this idea to the extreme and allows method syntax to call any function (even those defined outside the class/type) on values which are of the same type as their fir

[2015-07-15 14:39] davidhesselbom commented on #306
I'm with @zhaihj, what you're trying to do in the code snippet up top shouldn't be allowed, but I also think the error message you get when doing that should be

or something that makes it clear you're doing the wrong thing, and not

because that's not true and therefore confusing.

[2015-07-15 15:02] shamanas opened #912 "Fields initialized as array literals in a class' defaults generate invalid C code"
Here are the problematic C sources (come from sdk/os/native/TerminalWin32.ooc):

[code]

The following code is produced by the following ooc code:

[code]

I'm also getting the "undefined reference to `GC_beginthreadex'" error when I correct the C code manually, I've gotten around that one before though, I'll figure it out.

Any idea why the array literal is defined after the actual variable?
Perh

[2015-07-15 15:06] fasterthanlime commented on #912
Hmm did I upload a bad 0.9.11-prealpha1 bootstrap? Will have to check.

`os/Terminal` could definitely use a bit of a cleanup. As for `GC_beginthreadex`, I suppose it's a boehm gc lib clash again.. if it was picking up the one compiled from rock's Makefiles, it should have all the threading support we need. (Hmm.. or not, maybe it does need `--enable-threads=win32` explicitly for windows).

The wr

[2015-07-15 15:18] shamanas commented on #912
By manually switching around the C code and using the instructions from [here](https://gist.github.com/fasterthanlime/df7b9a88167de53636fc), I managed to get c_rock, I do get 'C compiler failed on module os/native/TerminalWin32 from sdk, bailing out' on make self though, so I assume the C code generated is still invalid, will tkae a look now.

[2015-07-15 15:38] fasterthanlime commented on #912
Ah yes, actually the release was made here: https://github.com/fasterthanlime/rock/commit/3f04249b22195ab72c8d4848d6596dee1f348100

Looking at the [history for ArrayLiteral](https://github.com/fasterthanlime/rock/commits/master/source/rock/middle/ArrayLiteral.ooc), it looks like it hasn't been touched after July 10? Would that mean that it is still broken?

Actually, that's completely plausible, s

[2015-07-15 15:40] fasterthanlime commented on #306
Well

It should say "instance method", not "function". There is such an instance method on "FooClass", and there is a "static method" on "Foo", but no "instance method" bar() on Foo

Agreed, the error message could be improved.

[2015-07-16 03:25] zhaihj commented on #912
It seems that this bug is introduced by https://github.com/fasterthanlime/rock/commit/500ef548d31e973c5e61690555eff8c1752c5684

Now arraylit will unwrap itself when we try to resolve it. If arraylit is used as class member, `VariableDecl` will try to add the definition of arraylit to `class_default`. Howover, arraylit has already been unwrapped so only one statement is added.

[2015-07-16 06:49] zhaihj commented on #912
A simple test:

[code]

[2015-07-16 09:52] fasterthanlime commented on #912
@zhaihj if at all possible, I prefer tests to do some runtime checking as well. That test might very well compile but put garbage inside the array, and we wouldn't know (and it's happened before..)

[2015-07-16 12:35] shamanas commented on #912
As a temporary workaround, I applied @zhaihj's patch and commented out the failing code in TerminalWin32.ooc, then made rock with c_rock (`OOC=bin/c_rock make self)`

[2015-07-17 03:55] ibara commented on #758
The real problem with the -m32 and -m64 flags is they are architecture specific. They will only work on x86{,_64}, sparc{,64}, and powerpc{,64}. It may be worth checking for those CPU architectures and only enabling these flags on supported CPUs, since it means that, for no technical reason, rock cannot be run on ARM or MIPS CPUs (or any other CPU for that matter).

[2015-07-17 04:06] zhaihj commented on #758
From https://github.com/zhaihj/rock/commit/2dcf3e9afc7b794ea402e91eb46562e507630e2d , cmake driver is checking if flags is available. But I don't know why commits https://github.com/fasterthanlime/rock/commit/03794895dda5f6c6ce3ecaf531cf62562279ed79 are not merged....

[2015-07-17 05:11] ibara commented on #758
I appreciate that some work has been done on this, but CMake alone is insufficient. Especially since rock is not build with CMake.

[2015-07-17 05:25] fasterthanlime commented on #758
@zhaihj I probably missed some commits :( thought I had cherry-picked everything there was to get (from the cmake-driver branch or something). Can you post a list of the ones I missed?

[2015-07-17 05:31] zhaihj commented on #758
@fasterthanlime
There are too many commits in cmake-driver...  I will combine them into one commit(pull request) which can be merged automatically.

BTW, I'm also working on the autotools-driver, maybe it will be usable in the next few days.

[2015-07-17 05:31] fasterthanlime commented on #758
Or we could start going full autotools and do C compiler checks ourselves (directly in the SequenceDriver, and generate some code in the Makefile to do that).

What sucks about `-m32` and `-m64` is:

  * Some platforms don't support either, but will produce a 32-bit binary by default (ARM apparently?)
  * Some platforms don't support either, but will produce a 64-bit binary by default (Most 64-bit

[2015-07-17 07:00] ibara commented on #758
In this case, I'm thinking about what will happen when I try to natively build rock on my OpenBSD/loongson machine (a 64-bit little endian MIPS CPU... mips64el). GCC will error out the moment it sees -m64.
Anyhow, I'll report back tomorrow with what happens.

[2015-07-21 04:50] zhaihj opened #917 "Add implict cast to reduce GCC warnings"
Currently, compiling `rock` will yield plenty of warnings.
Almost all the warnings are caused by the common root of object.

In OOC, we can assign a object with different type to current variable. Howover, even they have a common root, gcc will throw warnings because the definitions in C are usually different.

We should perform a implict cast to avoid this type of warnings.

Example warnings
[cod

[2015-07-21 06:08] davidhesselbom commented on #917
I haven't given much attention to the warnings generated when building `rock` itself, but I can attest that important warnings are easily missed in the sea of the unimportant ones that you learn to ignore.

[2015-07-21 07:28] zhaihj opened #918 "Sometimes distanceFromObject return incorrect -1"
`TypeAnalysis' uses `distanceFromObject` to determine which type can be the root.
However, for some distances which are inherited from object, distanceFromObject still return `-1`.

The reason is that

*  even though `left` and `right` are resolved, the type of them are not __fully__ resolved. It means that their supertype, supertype ref(typedecl).... are still __not__ resolved. When `distanceFrom

[2015-07-22 13:53] fasterthanlime commented on #912
Closed by #915.. kinda

[2015-07-22 13:53] #912 closed

[2015-07-28 00:27] zhaihj opened #920 "Rock sometimes fails to match generic class"
### This fails:

[code]

[code]

### This compiles and passes:

[code]

[2015-07-28 02:26] zhaihj commented on #920
Some debug info:
[code]

`T` is resolved and does have the ref `Class`. However, when calculating score, `T` (TypeAccess->inner) lose its ref.

[2015-07-28 07:29] davidhesselbom commented on #920
It might not help, but, don't you need an `init` function in the first example?

[2015-07-28 08:34] zhaihj commented on #920
@davidhesselbom

It works after adding `init`...
but I believe this is just a coincidence. Because the same error also occured in `ooc-kean/collections/Vector.ooc`:
[code]
while `Vector` does have `init` functions.

I will search for a better test case....

[2015-07-28 08:36] davidhesselbom commented on #920
`Vector` is an abstract class, unlike `Foo` above. Does that matter at all?

[2015-07-28 08:55] zhaihj commented on #920
You are correct.

refs of typeargs are missing if there doesn't exist a new function.
However, even though abstract class may have `init` functions, no new function is generated at all. (rock/middle/ClassDecl.ooc/line216)

I'm still wondering how the ref of typearg becomes null after it has been suggested with `Class`.

[2015-07-28 10:28] fasterthanlime commented on #920
That sounds like something that would be done somewhere in rock "to make sure it's re-resolved again properly". The fix is probably a `typeArg clone()` call away.

This kind of issue is why I started oc / wanted to make a much cleaner compiler, btw. rock sure may be compiling a lot of things, but it's still a pile of hacks, *especially* as far as generics are concerned.

[2015-07-28 10:39] davidhesselbom commented on #920
@fasterthanlime I know this isn't strictly on topic, but since you brought up generics...

You know how, when you have, say, an `ArrayList<T>` and you use its `[]` operator and it returns the value at the index by `memcpy`ing `T size` bytes, even if `T` is a cover type (because it doesn't know at compile time what `T` is), and you have this program that uses lists a lot, and you end up with a prog

[2015-07-29 00:34] fasterthanlime commented on #920
Now you have the right mindset!

It's definitely a problem, but I don't think it's one that can be solved in rock.

[2015-07-29 07:49] davidhesselbom commented on #920
Alright. I vaguely remember you mentioning something about generics and a thesis of yours where you fixed things that you hadn't had the time to add to rock. Can't seem to find anything about that now, though...

[2015-07-29 09:46] fasterthanlime commented on #920
Oh, it's real: https://speakerdeck.com/nddrylliog/generic-specialization-in-ooc and https://github.com/fasterthanlime/rock/commits/specialize

Got me a good grade too, like the original j/ooc compiler :) Let's see where [this one](https://github.com/fasterthanlime/cork) goes.

[2015-07-29 09:59] davidhesselbom commented on #920
Ooh, there it is! So what became of it? The presentation made it look like things went well, at least, so why is the problem one you

?

[2015-07-29 10:35] davidhesselbom commented on #920
The reason I'm asking is, well, that application I mentioned where most of the time is spent in `memcpy`... that's the one I'm making. And while I can imagine ways of implementing lists other than by using ooc generics, I'd prefer not to, so I'd like to know whether specialization is still in its own branch because it won't work after all, or because you simply haven't had the time and neither has

[2015-07-29 11:07] fasterthanlime commented on #920
I mention a few reasons in the deck:

  * There's a big difference between "getting one case of specialization to work" and "getting specialization to work on all generic ooc classes ever written". The semester project was about getting one case to work, to show it was possible, but just look at the commits in the branch.. it's not quality code.
  * Some abstractions are leaky, for example (cited

[2015-07-29 11:50] davidhesselbom commented on #920
Dude, relax!

... and I didn't even look long enough to see that it said "Another attempt at an ooc compiler.", but just assumed it was another language project like Pug. I feel horrible now. Sorry!

I don't see how that can possibly be a faster solution, but you would know better than me! If you think you can make a better compiler than rock faster by starting over from scratch, I wholeheartedly

[2015-07-29 11:58] fasterthanlime commented on #920
Haha :) I wasn't angry at all when I wrote that! Just explaining, it's worth it to me too, I have to re-understand all of rock in order to write another piece of software that does the same thing (but differently).

[2015-07-29 12:05] davidhesselbom commented on #920
Assuming you intend to make cork (ooooh, I see it now) completely compatible with existing ooc code, you have a nice suite of tests that you didn't have when you made rock. That should help :)

[2015-07-29 12:18] fasterthanlime commented on #920
My feeling too. I'm curious if I can get stuff like that working:

[code]

(It fails miserably in rock, if you were wondering...)

[2015-07-29 12:23] vendethiel commented on #920
I'm happy to see cork :D.

[2015-07-29 12:32] davidhesselbom commented on #920
Shouldn't it be
[code]
?

[2015-07-29 12:33] fasterthanlime commented on #920
@davidhesselbom Doesn't matter, I'm not using the return value of `f` - rock fails beforehand.

[2015-07-29 12:34] vendethiel commented on #920
is the <T> still available for the outer function's return type?

[2015-07-29 13:01] fasterthanlime commented on #920
@vendethiel only if it had `<T>` itself, otherwise it would not be a parameterized function and `T` would simply be an undefined symbol.

[2015-07-29 14:31] davidhesselbom commented on #702
Here's the checker, in all its first-version-in-main-repository glory: https://github.com/cogneco/magic

It's written in TypeScript in the hopes that it might one day be available as an Atom package.

[2015-07-29 16:58] fasterthanlime commented on #702
neat! unusable for me right now, though :)

![too-many-spaces](https://cloud.githubusercontent.com/assets/7998310/8964066/c0e3e72e-3623-11e5-8722-9cb3aafae3bb.gif)

[2015-07-29 19:17] davidhesselbom commented on #702
I take it you use spaces and not tabs? :)

[2015-07-29 19:30] shamanas commented on #702
I've always used spaces instead of tabs too (actually picked it up from rock, I think my first one or two commits where with tabs before I replaced them :P), I guess picking spaces or tabs is on the TODO list? :D

[2015-07-29 19:35] fasterthanlime commented on #702
It's only fair that we (the rock team) go and open a bunch of issues on magic. To return the favor ;)

(DISCLAIMER: Just kidding! Reporting issues is not warfare, it's actually cool! I'm actually cool! Not mad! I know I sound mad on occasion! I'm just tired! Mostly! And excited! I'll stop now.)

[2015-07-29 19:35] shamanas commented on #702
Jesus Amos, you should really cool down

(/s)

[2015-07-29 19:36] fasterthanlime commented on #702
I would if someone would buy me a beer once in a while!

[2015-07-29 19:55] vendethiel commented on #702
Is there even a link to do that ;-).

[2015-07-29 20:13] davidhesselbom commented on #702
https://github.com/cogneco/magic/issues/4

But yeah, go ahead and drop feature requests, bug reports, anything.

[2015-07-29 20:14] fasterthanlime commented on #702
Weell technically if you buy any game on itch.io you're directly contributing to my salary

And I should be able to buy beers on my salary

So... yeah :)

[2015-07-29 20:35] shamanas opened #921 "Rock can't pick up generic type info from the typeargs of the return value of closure"
I know, quite the title.

Here is what I mean:

[code]

The above fails with `error Missing info for type argument T. Have you forgotten to qualify foo<T> (f: Func () -> Cell), e.g. List<Int>?` (btw, this error message is pretty misleading to beginners since explicitly qualifying functions, rather than types, is illegal in ooc)

[2015-07-30 08:38] shamanas commented on #921
That is harder to fix than expected, ACS's get their return type from the function type in the call's function definition, so the closure is resolved to be of type `Func -> Cell<T>` and trying to fetch it from there obviously returns T.

[2015-07-30 08:57] shamanas commented on #921
I wonder why the `Func -> T` case works though...

[2015-07-30 09:36] fasterthanlime commented on #921
@shamanas Realtypizing does pick up on quite a few cases, apparently `Func -> Cell<T>` wasn't one of them, but it shouldn't be too hard to add.

[2015-07-30 09:46] shamanas commented on #921
I tried adding it last night but I got stuck because I am apparently getting `Func -> Cell<T>` as the type of the argument itself (not the function type in the functiondecl), which seems weird.
I'll be on it a bit later, I just need to reintroduce myself into rock gently <creepy smile>

[2015-07-30 09:57] fasterthanlime commented on #921
Ah.. maybe the function's returnType is being realtypized, but not the function's type (if you see what I mean)

[2015-07-31 10:58] fasterthanlime opened #922 "Rock crashes if .use file dependency is not found"

[2015-07-31 10:59] #922 closed

[2015-07-31 16:18] shamanas commented on #921
Just for reference (so I don't forget and I fix this after going to the beach :P), I was assuming the return type of the function pointer was set to the inferred type but there is a special field, inferredReturnedType, which should work (I changed this back on my other PC and it resulted in crashes on some test programs, probably didn't do correct null checking)

I wonder whether BaseType searchTy

[2015-07-31 19:15] fasterthanlime commented on #921
who says ooc devs have no life!

famous last words, but the rest of your post is promising.

[2015-08-03 22:48] tsion commented on #192
Going through my old open GitHub issues...

Closing this (years later), since typed varargs are nothing more than a minor syntactic convenience anyway.

[2015-08-03 22:48] #192 closed

[2015-08-04 14:53] shamanas commented on #921
searchTypeArgs doesn't actually work, because it obviously looks into the type's ref to find the typearg name you requested.

Instead, we should be able to provide two types, one unqualified (or partially qualified) and one fully qualified and extract a type arg from there.

This should work for all types though, not just "base" types, I guess I'll write something in typeAnalysis

[2015-08-06 15:37] davidhesselbom commented on #782
Can this be made to work for static properties as well? Or does it already? What would be the syntax, then?
[code]
???

[2015-08-07 07:25] shamanas commented on #782
I would expect the syntax to be

[code]

(If it does work, that is)

[2015-08-09 12:23] Phrohdoh commented on #755
This rocks! :+1:

[2015-08-11 07:36] davidhesselbom commented on #406
One of the things I really like about ooc is how easy it is to create and use tuples in various situations. I've been working a bit with code that looks like this:
[code]
It would be really cool if there was a compact way of writing something like
[code]
which would do the same thing as above, but on a single line. I *could* create a list of the 3 `thing`s and iterate over them with some `apply` f

[2015-08-11 09:13] shamanas commented on #406
Hmm, this is a pretty good idea, it could also be used as an expression in addition to a statement, just translate it into a comma operator/sequence (so the value of the expression @davidhesselbom wrote would be `thing3 function(value)`)

[2015-08-11 09:20] shamanas commented on #406
Btw @fasterthanlime, I was wondering whether it should be allowed to define "local" types, for example inside a function (shadowing existing type names would be allowed and the type name cannot be used from anywhere else).

Of  course this would require huge amounts of work on rock, so I'm not suggesting it for now :P

This makes defining a cover type and returning a value of that type a little bi

[2015-08-11 09:51] duckinator commented on #406
Re @davidhesselbom's idea:

If there is a shorthand for `[thing1, thing2, thing3].map(|thing| thing function())`, then you can add a `mapWith(fn: Func, args: ...)` or similar and use that shorthand, correct?

/cc @shamanas @fasterthanlime

(Also, hi, been a while!)

[2015-08-11 10:06] shamanas commented on #406
@duckinator Hi there!

Still hoping to make those 12 functions in the ruby binding disappear? :P

What you are suggesting is not possible, no, since ooc function calls are just translated down to C calls, you can't dispatch arguments at runtime like that.

The only two ways this could work would be if ooc functions were special and essentially all took some kind of packed data that contained the n

[2015-08-11 10:13] shamanas commented on #406
Just for shit and giggles, I would imagine it looking like that (assuming templates would still be limited to covers):

[code]

[2015-08-11 10:17] duckinator commented on #406
@shamanas, I forgot about those, but now I'm going to try it again. ;)

Ah, right. Damn computers, always making things difficult. We'd basically have to do this in the preprocessor, wouldn't we? E.g., a preprocessor version of `map` (or, probably less painful to implement, `each`) that just unrolls the loop. The idea of which makes me want to set my computer on fire and defenestrate it.

[2015-08-11 10:21] shamanas commented on #406
Or a nice macro system that directly works with the AST but now I'm just dreaming :P

[2015-08-16 22:55] davidhesselbom commented on #406
When you do something like
[code]
(which is super neat, btw, although this particular example is rather uninteresting) this gets translated by rock into several lines of C code. Is that also "preprocessor unrolling of a loop"? Where do you draw the line?

[2015-08-16 22:58] vendethiel commented on #406
it's not. there's no loop being "unrolled". I think it only counts when it's iterating through some structure

[2015-08-17 08:59] shamanas commented on #406
As @vendethiel, this is not unrolling, just the only (or close to it) way to translate this in C (multiple definitions -> pass their pointers or NULL if we ignore the value)

[2015-08-17 09:21] davidhesselbom commented on #406
[code]
[code]
So why not
[code]
[code]
Loop, no loop, whatever. I'm trying to understand why the first example is acceptable, while the second inspires computer defenestration? The two look pretty much analogous to me.

[2015-08-17 17:31] duckinator commented on #406
Looking at it again, I don't think that `(x, y, z) doSomething(someValue)` would be too much harder to handle than a preprocessor version of `each()` like I suggested before. But I am no expert on how rock works at this point, given that I've not touched it in like two years, and as such perhaps spoke a bit too strongly. I should probably defer to those who've worked on rock more recently. :)

But

[2015-08-18 14:44] shamanas commented on #406
As I said last week, I think `(thing1, thing2, thing3) function(value)` is a good idea and it is easy to implement, if we iron out the details (order of evaluation, is it an expression or a statement? etc)

IMHO it should "just" translate to a comma operator list, so the order of evaluation would be from left to right and the value of the expression would be `thing3 function(value)`.

If @fasterth

[2015-08-19 09:57] fasterthanlime commented on #406
What happens if at some point tuples have actual methods?

`(thing1, thing2, thing3)` is of type `Tuple<Type1, Type2, Type3>`, and so far Tuples have no methods, but what if they become first-class types later on? This gets us stuck with a syntax that doesn't make much sense.

There is a case that has made me wish for more language support, and it's:

  * I have a list of items of type X
  * I hav

[2015-08-19 10:14] shamanas commented on #406
I hadn't considered this, although I was always in favor of first class tuples, good point.

[2015-08-19 10:40] davidhesselbom commented on #406
I had no idea that was ever a consideration. I guess that could be neat in some cases, though.

How? I can see several ways to make a function for it, but none of them are pretty (they involve lists, varargs, or multiple overloads, plus you need a new function F1 for each function F2 in the item type in the list that you want to call on such a list of items, unless you can pass a pointer to that f

[2015-08-19 10:53] fasterthanlime commented on #406
You named it: pass function as argument, rest as varargs.

[2015-08-19 11:25] davidhesselbom commented on #406
A `(x, y, z) function(value)` call could be checked at compile time to make sure that each of `x`, `y` and `z` are of a type that has a function that matches `function(value)`.

With varargs, I get 0 type safety at compile time and I need at least 5 lines to create the iterator, the `while` loop, and the `match` clause (assuming I have at least 2 cases). Such a varargs function needs to be added t

[2015-08-19 11:37] fasterthanlime commented on #406
My point is that, whether you want a function call, or a method call, these:

[code]

Should work, and be fast enough. With cover templates, it's achievable with very little performance penalty. So we just need a better implementation of them.

[2015-08-19 11:51] davidhesselbom commented on #406
That looks neat, yes (although I suspect it's going to get a little bit stickier if you turn the gc off, but that's my problem, not yours). So this is what you suggest should be done instead of what I suggested earlier?

[2015-08-19 12:23] davidhesselbom opened #923 "ArrayList sort"
[code]
prints
[code]
and then seems to get caught in an infinite loop.

[2015-08-19 12:26] davidhesselbom commented on #923
Replacing
[code]
with
[code]
seems to work, though.

[2015-08-19 13:40] fasterthanlime commented on #923
The first version is comparing pointers on 32-bit, and comparing garbage on 64-bit.

rock doesn't handle well passing non-ACS generic `functions...

(not handling well is an understatement).

[2015-08-19 14:12] fasterthanlime commented on #406
(I'm not very receptive today.. :frog:)

Reminder that rock is feature-frozen, that the language is messy enough as-is, acknowledgement that when I say "X should work" I'm probably talking about a post-rock era (heh). Plea to not, I beg you, add more cruft to rock and perturbate its delicate equilibrium between undefined behavior and breaking everything once more.

Say you're trying to design a ve

[2015-08-19 14:23] davidhesselbom commented on #406
I didn't know that, but it makes sense, if you ever want to be able to get anywhere with cork. Thanks for the reminder!

OK - I wasn't sure if you meant that, or "if works now, too, afaik". (because it doesn't, which that comment implies you already know)

Again, gc-off is my problem, not yours. I would prefer to use the gc, since, well, you have this amazing thing that just automagically cleans u

[2015-08-19 23:03] geckojsc opened #924 "Threads broken on msys2/mingw32?"
Sorry if this is just a mistake on my end! After following the setup instructions over at [oh-god-windows.md](https://gist.github.com/fasterthanlime/df7b9a88167de53636fc) everything works fine, except any program using the Thread class crashes with

![Fatal error in GC: Collecting from unknown thread](https://cloud.githubusercontent.com/assets/569607/9370532/fbf23ea0-46c8-11e5-9ca6-66aa6fd5234f.pn

[2015-08-20 08:33] shamanas commented on #924
I can confirm, I get the same error on my compilation.

[2015-08-20 10:13] fasterthanlime commented on #924
I don't think the GC is compiled with threading support anymore on Windows.

You can try doing

[code]

[2015-08-20 13:46] geckojsc commented on #924
Nope, no luck for me, but wasn't that flag already specified when we ran `GC_FLAGS="--build=i686-pc-mingw32 --enable-threads=win32" make rescue`?

[2015-08-20 14:15] fasterthanlime commented on #924
Ahh right, forgot about that. Perhaps it's the GC's fault then, not registering threads properly?

[2015-08-21 10:45] davidhesselbom opened #925 "Boostrapped"
https://github.com/fasterthanlime/rock/search?utf8=%E2%9C%93&q=boostrapped
Pretty sure that should be bootstrapped.

[2015-09-25 09:11] davidhesselbom opened #926 "INT_MIN is a literal, FLT_MIN is an extern"
In `Numbers.ooc`:
[code]
How come the limits for `Int` are set like this, but the rest are `extern`? Is it just something that hasn't been fixed, or is it, in fact, a fix for something?

[2015-09-25 10:03] zhaihj commented on #926
By `git log -S 2147483647 --source --all`, I find it is introduced here

[code]

I can't point out the exact reason, but there's no different for me between literal and extern.
Maybe the bug has been fixed.

[2015-09-25 10:10] fasterthanlime commented on #926
2010! Perhaps back then I was building in an environment lacking `INT_MIN` / a proper `limits.h` ?

[2015-09-25 10:16] davidhesselbom commented on #926
Yeah, I know, it's been a long time! :) So you don't remember making it a literal to prevent some problem related to the system bitness or anything (I doubt you've ever run rock on a 16-bit system, but what do I know)?

Were the comments supposed to replace the literals, you got a proper `limits.h`, but then that never happened? And, *should* it be `const static`, and does it matter?

[2015-09-25 10:27] fasterthanlime commented on #926
Nope! No idea. Maybe I wanted to take the address of `INT_MIN` and needed it to be a proper variable.

I'm not sure rock passes const to the C compiler anymore, and static would just confine it to the file afaict?

[2015-09-25 10:33] davidhesselbom commented on #926
No, you're right, `const` is ignored... alright, well, no harm in changing it then. Thanks!

[2015-10-02 11:20] shamanas commented on #924
Apparently calling GC_endthreadex before the thread exits makes this work!
Here is my sample code that runs:

[code]

It seems that for some reason the GC doesn't unregister threads properly, although I think this shouldn't be the case.

Quoting a part of GC_CreateThread documentation in gc.h:

[code]

It does seem that the threads in the code above should "fall through and terminate normally" tho

[2015-10-02 11:29] shamanas commented on #924
Actually, the GC unregistering the thread may not be the issue, GC_endthreadex is defined as:

[code]

Calling GC_unregister_my_thread at the end of the thread still makes the program crash, while calling windows' _endthreadex fixes it.

[2015-10-02 11:41] shamanas commented on #924
And for some reason I rebuilt boehmgc with -DDEBUG_THREADS and now it doesn't crash anymore >_>

[2015-10-02 12:45] shamanas commented on #924
This is kind of crazy, I rebuilt the GC with:
[code]
The program above no longer crashes.
Apparently for some reason if you build with any define, it works, while it doesn't without one (I tried adding additional flags like --enable-thread-local-alloc and --enable-parallel-mark as well and the program only stopped crashing if I added a define in the CFLAGS), so I'm guessing it's an issue with the

[2015-10-02 13:07] shamanas commented on #924
I finally got it!

Boehm GC is compiled with -O2 by default but that seems to optimize something important out, leading to this bug.
Passing CFLAGS must override the default CFLAGS (which I think are -g -O2).
I tried compiling with -O1, it still crashes, passing CFLAGS='-g -O0' seems to do the trick.

Obviously, this is a Boehm GC bug, however it may have been fixed in more recent versions.

As a

[2015-10-02 13:12] fasterthanlime commented on #924
Oof, that's going to seriously impact performance of windows apps imho :(

[2015-10-02 13:16] shamanas commented on #924
I know, should I try with a more recent version of Boehm GC?

It may have been fixed (although I didn't find anything similar in their issue tracker after a quick look)

[2015-10-02 14:04] kirbyfan64 commented on #924
@shamanas Try it from Git: https://github.com/ivmai/bdwgc/.

[2015-10-02 14:45] geckojsc commented on #924
I thought that we switched to an old gc because we wanted to drop the windows pthreads dependency but the newer version didn't support win32-threads? How did you test with a newer version? Or am I talking nonsense? xD

[2015-10-02 14:48] shamanas commented on #924
I haven't managed to compile from git yet (autotools on windows suck, I had some trouble so I moved on to another issue for now) but at least up to 7.4.2 they are available (and they seem to be available on the latest version on git too, look at win32_threads.c)

Also tried to recompile with gcc 5.2 (was using 4.9 before), still having the same issues.

[2015-10-02 16:54] shamanas opened #931 "Build datetime (in rock -V) prints gibberish when the user's locale uses non-ASCII characters for AM and PM"
![ohno](https://cloud.githubusercontent.com/assets/265903/10252311/5350ba44-693f-11e5-97fd-47a28c297892.png)

I guess one solution is forcing an locale (somehow), or using wprintf?

[2015-10-02 17:06] fasterthanlime commented on #931
Can you reproduce from cmd.exe instead of msys ?

[2015-10-02 17:12] #925 closed

[2015-10-02 17:13] shamanas commented on #931
![cmd](https://cloud.githubusercontent.com/assets/265903/10252708/ff52775e-6941-11e5-8f70-868489a49ce6.png)

Here you go!

[2015-10-02 17:14] shamanas commented on #931
Incidentally, those are Greek letter but not the right ones ;)

[2015-10-02 17:33] shamanas commented on #905
This seems to have already been fixed.
Am I missing something or should I close the issue?

[2015-10-02 21:09] shamanas commented on #415
I've implemented this one of my branches, seems the sdk uses that (text/json/Parser.ooc)

[code]

[2015-10-02 21:34] #267 closed

[2015-10-03 06:01] davidhesselbom commented on #415
Parser makes valgrind go nuts about invalid memory usage...

[2015-10-03 06:58] shamanas commented on #415
@davidhesselbom I'll take a look at it later today, I may rewrite it if it needs to be (of course, exposing the same API)

[2015-10-03 09:21] fasterthanlime commented on #415
@davidhesselbom even when setting the following environment variable `GC_DONT_GC=1` ? It's a well-known fact that the Boehm GC and Valgrind don't play well together at all.

[2015-10-03 15:40] shamanas commented on #905
I'm closing this since it seems to have been fixed.

[2015-10-03 15:40] #905 closed

[2015-10-03 20:05] davidhesselbom commented on #415
Hmm, I could try on Monday. But I get it with the GC off entirely, so, should that flag make any difference?

[2015-10-03 21:17] fasterthanlime commented on #415
@davidhesselbom probably not

[2015-10-06 14:27] #921 closed

[2015-10-06 14:28] #415 closed

[2015-10-06 15:08] davidhesselbom commented on #926
Fixed by #927.

[2015-10-06 15:08] #926 closed

[2015-10-06 15:34] shamanas opened #934 "Rock does not correctly call non-ACS generic function arguments"
As pointed out in #923

The following code:

[code]

Only outputs "Hello ACS" before segfaulting, should print everything after I'm done with it

[2015-10-06 15:35] shamanas commented on #923
Closing this, see #934

[2015-10-06 15:35] #923 closed

[2015-10-06 16:35] shamanas commented on #934
Actually, my objective is making the func closure work as well and throw warnings on the other cases.

[2015-10-06 16:56] shamanas commented on #934
The fix is actually pretty simple, the definitions added to closures that take a generic and turn it into the actual type were only applied to ACS closures for some reason.

By changing that to any closure when we can find a FunctionCall in the resolver's trail, they are applied to func { ... } closures as well.

Nowlet's implement a warning for non-closure functions passed!
(When we pass a generi

[2015-10-19 12:27] sebastianbaginski opened #935 "rock tries to resolve enum values inside versioned-out blocks"
[code]

this won't compile on Unix as rock tries to resolve the value of Symbol1, even though everything is inside version block specific to Windows:

[2015-10-20 01:49] zhaihj commented on #935
Yes, it's a bug.

Enums are always generated as global variables regardless of versionblock.

At `rock/middle/EnumDecl.ooc : createCovers`:

[code]

You can see that the generated cover is always global. Then global variable will be unwrapped to a global definition and a assignment, so you will see the following c codes :

[code]

[2015-10-20 05:59] sebastianbaginski commented on #935
Thanks for the explanation.
We're using a simple workaround for now:
[code]

[2015-10-23 18:22] shamanas commented on #918
IS this really an error though?

If I recall correctly (and I'm pretty sure I do as I originally wrote typeAnalysis), distanceFromObject returning -1 (or findCommonRoot returning null) is not an error but rather an indication that we EITHER don't have enough info to make a call or, if we do, we have an error.

It is the caller's responsibility to make sure everything is resolved if he wishes to be

[2015-10-29 08:04] shamanas commented on #810
@fasterthanlime @davidhesselbom

I still think this operator would be a great idea, how about using `<space>?`  ?
For example:

[code]

[2015-10-29 08:36] davidhesselbom commented on #810
Well... `parent ?child` makes it look like I'm asking whether `child`, not `parent`, is null. And letting the parser be so sensitive to where I put the space is kind of scary. Almost like bash :fearful:

[2015-10-29 08:39] shamanas commented on #810
Both good points.

Perhaps actually using `?.` is the solution (allowing spaces in between), although the dot does make the user think the operator is similar to the dot operator, when it obviously isn't.

I'm at a loss again I guess :/

[2015-10-29 08:48] davidhesselbom commented on #810
Me too. I don't think `?.` is a good idea either, because that's not what the dot usually does in ooc. In C# it makes a lot of sense, though! I think the problem to begin with is the fact that `?` is allowed to terminate identifiers (which isn't a problem in itself, just unconventional, and leads to problems years later (i.e. now)).

[2015-10-29 08:52] shamanas commented on #810
Yeah, I can't think of any "good" syntax.

I guess I'll just leave it to rest for now.

[2015-10-29 13:05] shamanas opened #938 "Add template functions to the language"
This could be done by "turning" inline generic functions into templated functions (this may or may not have been the case in the past, I vaguely remember something about it).

For example:

[code]

This would be a real challenge to implement but I do think it is a worthwhile investment.
Alternatively, to make it clearer that the function is templated instead of using generics, this syntax (which m

[2015-10-29 13:18] shamanas commented on #938
This can already be emulated using a stateless template cover with static functions, although I'm not sure if you can (correctly) get the address of those functions.

I just think it's nicer that way.

Ideally, it should also be possible to generate and take the address of such a function in a context sensitive way.

For example:

[code]

Otherwise, I guess we would need to be able to manually ins

[2015-10-29 13:24] shamanas commented on #938
We could even take the Java/C++ route and generate cover templates as seen in the previous comment then replace accesses to the function to the static cover method.

This would still need some way to instanciate the function manually, though, and I personally think it is an inelegant solution

[2015-10-29 13:55] kirbyfan64 commented on #810
What about using `<$>`, sort of like Haskell? Or just `$`?

[2015-10-29 13:58] davidhesselbom commented on #810
"We ran out of `?` so we decided to run with `$` instead"

[2015-10-29 14:00] shamanas commented on #810
I'd like something that involves `?`, as it is already used by the nullco operator and I think it somewhat naturally brings up null checking.

It appears it can't be used though, so `$` could do, it is somewhat noisy though, I wouldn't want ooc to suddenly turn into perl :P

[2015-10-29 14:14] kirbyfan64 commented on #810
Ok then...what about `\`? Like K?

[2015-10-29 14:19] davidhesselbom commented on #810
Or `∃`.

(I'm joking)

[2015-10-29 14:20] shamanas commented on #810
I personally think `?>` would be an OK choice (although `foo?>bar` can be confusing, assuming `foo?` and `bar` are variables) and I prefer `$` over `\` (`\` is already used to continue a statement on another line, like C, btw).

In the end, I think we all agree that it is a really nice feature but it's up to Amos to take this decision.
I think we can live without it for now, until a decision is ma

[2015-10-29 14:34] davidhesselbom commented on #810
Yeah, it's just frustrating to know that all that's keeping it from becoming something we can use is that we can't figure out how to write the operator. It's like would-be parents deciding not to have a baby until they've figured out a good name for it.

[2015-10-29 15:01] shamanas commented on #810
@davidhesselbom
I can hack up `?>` on one of my branches if you wish, then merge it with its final syntax when we agree upon it.

I'm kinda bored anyways :)

[2015-10-29 15:48] davidhesselbom commented on #810
Assuming `?>` is unique enough, haha.

[2015-10-29 16:58] vendethiel commented on #810
also add a <?rock operator, if you're to add ?> :P

[2015-10-29 17:02] shamanas commented on #810
Settled for `$` for the moment, I've almost got working code right now, for some reason the replaced comma sequence doesn't get resolved at the moment.

@vendethiel
Sounds great and really convenient to inline ooc code into HTML, I will look into it! (/s, obviously :P)

[2015-10-29 17:04] shamanas commented on #810
All the code is on my forks at nagaqueen/safe_navigation and rock/safe_navigation if anyone is interested.

[2015-10-29 17:53] shamanas commented on #810
I wasn't resolving the root expression...
I nearly lost my mind debugging something that simple.

Seems to be working fine now!

Here is an example:
[code]

[2015-10-29 17:55] shamanas commented on #810
There may be some little syntactic issues, the one I found right away is that this:
[code]

Doesn't work.
Imho, you should be able to "break" the safe navigation at any point without parenthesis (although it really doesn't make sense to do so)

By the way @fasterthanlime, do you have issues with the syntax, or should I merge this into master once I've worked out the details and added some tests?

[2015-10-30 05:48] davidhesselbom commented on #810
What if you're trying to access covers inside an object? On that note, what should happen if you try to use the safe navigation operator on a cover?

[2015-10-30 07:23] shamanas commented on #810
@davidhesselbom
Rock will compile safe navigation expression blindly into exactly those things:
- A variable declaration of the same type as the expression we are "navigating" into
- A comma sequence that contains:
    * The assignment of that variable to the expression
    * A "nested" ternary expression that checks every access against null

So (and I'm just guessing here) I think it would fail

[2015-10-30 07:27] davidhesselbom commented on #810
Well, just because `Foo` is likely to be null doesn't mean that `Bar` or `Baz` are likely to. It doesn't seem like suicide to me any more than do all the other times you use an object.

[2015-10-30 07:28] shamanas commented on #810
Ah, I see what you're saying now, I am indeed mistaken.

That's what happens when I answer to posts 5 minutes after I wake up without having drunk my coffee *_*

[2015-10-30 07:29] shamanas commented on #810
Covers do fail with a nice error message " Invalid comparison between operands of type Foo and Pointer", I am pleasantly surprised.

[2015-10-30 07:29] davidhesselbom commented on #810
Good :)

[2015-10-30 07:31] davidhesselbom commented on #810
Still,
[code]
What should happen here?

[2015-10-30 07:33] shamanas commented on #810
y should be set to null

The expression is translated to:

[code]

[2015-10-30 07:33] shamanas commented on #810
Oooh, wrong again I guess.

[2015-10-30 07:34] shamanas commented on #810
This doesn't compile because Float and null are incompatible but this is something we can't work around, cover vs class havs always been a weird part of the ooc typesystem.

[2015-10-30 07:34] davidhesselbom commented on #810
What if we don't know at compile time whether `foo` is null?

[2015-10-30 07:36] shamanas commented on #810
I should probably make it a nice error though, " Using different types in a ternary expression is forbidden. Find another way :)" doesn't really tell us anything in this case.

[2015-10-30 07:37] davidhesselbom commented on #810
Okay, so, basically, this will never work if you want the result to be a cover, unless ooc start supporting nullable types? What about...
[code]
Would this work?

[2015-10-30 07:40] shamanas commented on #810
This could work with a little trickery and a lot of nagaqueen hacking (as well as restarting the safe navigation after baz), I will be taking a look later today.

[2015-10-30 07:52] shamanas opened #939 "Ternary operator should take the common root of the left and right expr types instead of equality checking them"
Right now, what it does is check the two types for equality and in the case they aren't, check if they are both pointer-like types.

Instead, it should take the common root and if null, then go ahead and check for pointer-like-ability (which may already be included in findCommonRoot)

[2015-10-30 08:28] shamanas commented on #810
@davidhesselbom

This works in my local copy, pushing to my branch in a while
[code]

[2015-10-30 08:33] shamanas commented on #810
Changes on shamanas:rock/safe_navgation, shamanas:nagaqueen/safe_navigation.

[2015-11-04 10:43] marcusnaslund opened #940 "Using a property ::= does not work for rvalue covers because a pointer is expected"
For example:

[code]

It appears properties have similar limitations in C# as well, so I don't know what the plan is here.

At least, the error should be explained by rock instead of failing in the C compiler.

[2015-11-04 14:03] shamanas commented on #940
I'm taking a look at this right now (I'm assuming myCovers is an ArrayList of some cover) but what was said in the ooc-kean issue looks accurate.

Changing the title too, ::= is only one way to create a virtual property.

[2015-11-04 14:03] shamanas commented on #940
It looks like we could generate some code that would handle it, I will reopen the issue if we indeed can.

[2015-11-04 14:06] shamanas opened #941 "ArrayList bound checks twice when getting an element"
[code]

[2015-11-04 14:07] shamanas commented on #941
Removing the checkIndex call seems like the right thing to do, as the negative index needs to be re-checked.

[2015-11-04 14:16] shamanas commented on #940
I actually can't reproduce this.

This is what I'm trying (and it succeeds):

[code]

[2015-11-04 14:18] marcusnaslund commented on #940
Let me take a closer look and get back to you on this.

[2015-11-04 14:20] shamanas commented on #940
I can reproduce this with an ooc array:

[code]

Using an ArrayList seems to work on my end.

If you could post a testcase I would be grateful.

[2015-11-04 14:33] fasterthanlime commented on #941
@shamanas what if `index < -_size` ?

[2015-11-04 14:34] shamanas commented on #941
Sure, removing the checkIndex call and leaving the second if is my proposal.

Then, if index < -_size, it is still caught, as well as the index >= _size check that is done twice.

[2015-11-04 14:36] fasterthanlime commented on #941
sounds good

[2015-11-04 21:56] jonathn opened #942 "Failure to build 'master' on macosx 10.9 mavericks"
Trying to build from git source on macosx 10.9.5, I get the following error when I run 'make rescue':
[code]

I have XCode 6.2 installed which comes with the following gcc:
$ gcc --version
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 6.0 (clang-600.0.57) (based on LLVM 3.5svn)
Target: x86_64-apple-darwin13

[2015-11-04 21:57] fasterthanlime commented on #942
@davidhesselbom @zhaihj hey look guys, that's why `INT_MIN` was a literal.. cf. #926

[2015-11-04 21:58] fasterthanlime commented on #942
I suppose a good fix would be to include `limits.h` but only on OSX

[2015-11-05 07:01] davidhesselbom commented on #942
:-(

[2015-11-05 09:30] zhaihj commented on #942
I didn't even think about OSX :(

[2015-11-05 09:39] davidhesselbom commented on #942
For some reason (4K screenshots and evident OSX compatibility concerns in the SDK, probably) I thought that's was Amos was using anyway. If that's not the case, it might be worth looking into letting Travis test for OSX (see http://docs.travis-ci.com/user/osx-ci-environment/), so this type of thing doesn't happen again.

[2015-11-05 09:54] thomasfanell opened #943 "rock segfaults on generic function that redefines a class-level typearg"
This example code will cause rock to segfault. As far as I can tell, this problem was introduced after the October 2015 changes in rock.

[code]

If I change ```map``` to this:
[code]
and the map call to: ```newList := someList map(Int, |value| value + 1)```, it works fine.

[2015-11-05 13:15] shamanas commented on #943
I will be taking a look and fixing this tomorrow.
Thank you for the report.

[2015-11-05 13:34] thomasfanell commented on #943
This seems to work, for both the newer version and the pre-October version.
[code]

[2015-11-05 13:37] fasterthanlime commented on #942
@davidhesselbom I am using OSX, I just didn't try running the changes on it, they seemed pretty simple.

That said, I agree, having an OSX travis setup would be nice. Beware though, OSX support is notably unstable on Travis (builds randomly failing)

[2015-11-05 14:59] shamanas commented on #943
Ah, the problem could actually be the redefinition of the generic argument (although I would expect it to be shadowed or error out).

Are you positive the original code worked before the generic inference changes?

Either way, I'll probably take a look at the cause this evening and expect a fix tomorrow.

[2015-11-05 15:12] thomasfanell commented on #943
I'm 100% positive that rock did not segfault, but I'm only 90% sure that the code actually worked. I does work on our current version of rock, which is based on 0.9.10. I've juggled many different versions of rock today, so there is a **slight** chance I might have gotten something wrong, although I don't think so.

A fresh pair of eyes would be appreciated!

[2015-11-05 15:24] shamanas commented on #943
Ok, thank you!

I'm pretty surprised no test or rock code does something similar but I guess it's a good opportunity to add similar tests.

[2015-11-06 07:54] shamanas commented on #943
Let's establish what should happen first:

In my opinion this should either error out because we are trying to re-use T or shadow T and throw the classic " Missing info for type argument T" error.

It should not segfault for sure though :P

[2015-11-06 07:58] shamanas commented on #943
Here is the simpler test I will be using, by the way:

[code]

[2015-11-06 08:03] shamanas commented on #943
@thomasfanell Either way, this code is not correct, so you should find out where it happens in your codebase and get rid of it.

Of course I will fix the segfault and preferably have it throw a warning, I just noticed you said it works on your modified 0.9.10 rock so I want to make clear it shouldn't :P

[2015-11-06 08:44] thomasfanell commented on #943
We have modified the code that is causing the segfault, so the project compiles fine now (we're not using that code at the moment anyway).

Having rock print a warning regarding stuff like this would be very nice! I would save us many headaches I think. I have to tell you that I am somewhat confused at this point. What is supposed work then? This is one of your examples from the ooc site:
[code]
I

[2015-11-06 08:49] shamanas commented on #943
@thomasfanell T is already defined by the class and is accessible at any point inside its scope.

Redefining it inside the class should work but shadow the original definition (thus, with the current map signature that is causing trouble, throwing an error that T has missing type info for any call, since there is no way to get it's type from a closure)

The examples on the ooc site is (presumably)

[2015-11-06 08:52] shamanas commented on #943
Think of any generic argument as a definition scoped to the kind it is attached to.

For example `class <T>` means that T is attached to the scope of the class, while `func <T>` means T is attached to the scope of the function.

If the function is inside the class, then you are shadowing (redefining) T in the scope of the function (which is not invalid but can be confusing), not telling the compil

[2015-11-06 09:05] thomasfanell commented on #943
Ah, I just assumed that ```T``` would be whatever type was used when declaring the class instance.

So, this should be correct(?):
[code]
Here is another one:
[code]
In the ```map()``` case, ```S``` is clearly known, but in the ```fold()``` case, it's not?

[2015-11-06 09:08] shamanas commented on #943
The map signature is correct.
The fold signature ought to work too, rock has a bit of trouble with generic inference though.

(In fact, I don't really see why it doesn't it should be able to deduce S from both the first and the second argument)

I should rewrite the whole thing at some point...

[2015-11-06 09:14] thomasfanell commented on #943
So we're required to specify ```S``` like this then... far from optimal but I guess it's not the end of the world. :-)

I appreciate you taking the time to clear this stuff up!

[2015-11-06 09:18] shamanas commented on #943
No problem, it's really our fault you are having so much trouble, rock should have been able to produce correct errors and warnings about that.

One last little note, be careful if you ever try to pass both a base and child class as a generic, the base one will not necessarily be chosen as is.

For example, in the first fold signature, if you passed a function where the returned type was Child and

[2015-11-06 09:20] shamanas opened #945 "Move generic inference from FunctionCall, clean it up, make it recursive and use findCommonRoot on all candidates to get the final type."

[2015-11-06 09:24] shamanas commented on #945
Right now, it really just is a series of hacks for specific cases.

I think we should split it out in algo/genericInference (or something similar), with the following API:
- extractTypeArg: func (typeArg: String, type: Type) -> Type (assuming type is fully resolved, null means there is no typeArg match)
- inferTypeArg: func (typeArg: String, types: ArrayList<Type>) -> Type (iterates over types, ex

[2015-11-06 09:24] thomasfanell commented on #943
Thanks for the heads-up, I will note that down :+1:

[2015-11-06 09:28] fasterthanlime commented on #943
@shamanas @thomasfanell does swapping `Func(S,T)` and `initial: S` in the function signature make current-rock successfully infer S ?

[2015-11-06 09:29] thomasfanell commented on #943
@fasterthanlime I actually tried that earlier, no go though :(

[2015-11-06 09:44] #943 closed

[2015-11-06 09:52] shamanas commented on #942
Someone with a mac please test adding `version(osx) { include limits }` (probably version(apple), I'm not sure what the case is for ios) and open a pull request please.

[2015-11-06 09:54] #941 closed

[2015-11-06 10:29] fasterthanlime commented on #943
@thomasfanell alright, worth a try. Since current-rock is kinda dumb and will try to resolve them in-order rather than easiest-first, I thought it might choke on `Func(S,T)` and not even try `S`.

[2015-11-06 10:35] shamanas commented on #943
Thankfully, rock is not _that_ dumb, it only chokes after having tried to infer the typeArg from all arguments :P

This case is still really surprising though

[2015-11-06 10:52] shamanas opened #948 "Do some basic escape analysis"
We should be able to determine if the lifetime of an object is local and stack allocate it if it is.

This should only be done for objects that are created from an auto-generated new method and that do not define a custom __destroy__ function, to prevent breaking of gc=off programs and covers from C types that define custom new methods.

In addition to that, it should be an opt-in flag, since ther

[2015-11-06 10:53] fasterthanlime commented on #948
You're asking for trouble :)

[2015-11-06 10:57] shamanas commented on #948
I remember some ooc manual saying that the compiler decides whether the object is stack or heap allocated, so it is (or was) in the language "specs" too :P

Here is a basic case that would be covered, as well as the ideally generated code:

[code]

This would obviously work for objects created on the fly (in function arguments etc), if they are deemed to be non-escaping

[2015-11-06 11:01] fasterthanlime commented on #948
I think what ultimately discouraged me to even attempt doing this (apart from the fact that there were so many other fires to put out) was that we would then have to annotate every function with 'pure' or not, and sometimes it gets pretty hard to tell

[2015-11-06 11:06] shamanas commented on #948
Walking into the functions the object is passed to and seeing if it is ever copied into a non-local object/thing (C/ooc array, etc) should work.

If we ever get to a C function this is were a pure(/some other) annotation would be needed in order to make it work but without it, it would be enough to say the object does escape (safest case).

This also works with generics because when we get to a me

[2015-11-06 11:08] shamanas commented on #948
Actually, I assume "pure" would mean "no side effects", which is a superset of the annotation we would need (something like noescape(argument)) but as I said, I have no intention of diving *that* deep.

[2015-11-06 11:25] fasterthanlime commented on #948
So all generic values escape.. :)

[2015-11-06 11:27] #942 closed

[2015-11-06 11:27] shamanas commented on #948
Yes (unless memcpy is special), which is inconvenient but taking this step by step, a little work at a time seems like the way to go.

Generics are a great complication for most features, takling them head on in escape analysis would be suicidal ;)

[2015-11-06 11:27] fasterthanlime commented on #942
@shamanas accidentally push-requested instead but it seems to work as well! ;)

[2015-11-06 11:47] shamanas commented on #948
I'll be writing down some pen and paper stuff and starting up some code soon (tm).

Hopefully I can make it stable enough (maybe? :P) to make an experimental flag out of it.
I'm really curious about how many non-escaping objects would be detected in rock and if I can manage to bootstrap with escape analysis.

[2015-11-06 15:17] vendethiel commented on #948
FWIW, Dlang has explicit constructs for that:

[code]

[2015-11-06 17:44] shamanas commented on #948
Huh, that would actually also a be a good way to explicitly do escape analysis and thus object stack allocation (even when the switch is off, with a warning in that case)

[2015-11-06 17:47] vendethiel commented on #948
glad it looks useful :). (fwiw, the last use of "scope" in D is scope guards, i.e. `scope(exit) destroyResource()` and `scope(debug) printMsg()`)

[2015-11-06 18:40] shamanas commented on #948
I'm aware of scope exits (and how they can be replicated in c++ :P) and I do like the concept but let's go one step at a time :)

[2015-11-06 21:24] vendethiel commented on #948
They're relying on RAII in c++, so a bit less straightforward (passing a lambda to a new instance of ... Blabla), but you're right

[2015-11-06 21:30] shamanas commented on #948
Well, I would expect the C++ compilers to be able to optimize the Scope object + lambda combinations to pretty much the same code that D generates but, yeah, a little less elegant :)

[2015-11-17 13:02] davidhesselbom commented on #782
I know this was closed long ago, but I'm wondering about something related, and I don't think I should open a new issue about it. Here goes:

Can covers have set properties?
[code]
This doesn't build, because
[code]
and I'm not even sure what that means.

[2015-11-17 15:43] davidhesselbom commented on #940
@marcusnaslund , just a reminder...

[2015-11-17 16:17] davidhesselbom commented on #782
I hadn't thought about
[code]
which is obviously a much, much better way of doing it in this particular case.

[2015-11-17 16:34] fasterthanlime commented on #782
@davidhesselbom actually that's an interesting bug

[2015-11-17 16:36] davidhesselbom commented on #782
What is?

Btw, do you still need the `extern` keyword, or is there another syntax I should use when the cover I'm a cover from isn't... external?

[2015-11-17 16:37] fasterthanlime commented on #782
@davidhesselbom your `am I missing a @ somewhere` comment made me think that this bit of code would fail:

[code]

..but it actually works so it must be linked to the `extends`

[2015-11-17 16:39] fasterthanlime commented on #782
Whereas this doesn't work:

[code]

[2015-11-17 16:39] davidhesselbom commented on #782
Does it fail the test at the end, or does it simply not build?

[2015-11-17 16:41] fasterthanlime opened #949 "Setting by-ref member of underlying cover doesn't work"
This works:

[code]

aka baz's setter accepts `this` by reference, correctly

But this doesn't:

[code]

because it generates code like:

[code]

whereas it should be generating code like:

[code]

I'm fairly confident at this point `this` is a ReferenceType, so we should look into what goes on when you cast a ReferenceType to another

---

edit: even this code should work in fact:

[code]

becaus

[2015-11-17 16:41] fasterthanlime commented on #949
Originally reported by @davidhesselbom in #782

[2015-11-17 16:41] fasterthanlime commented on #782
@davidhesselbom I opened #949 to track it — but I won't have time to close it.

[2015-11-17 16:45] davidhesselbom commented on #782
Ok, thanks though.

I'll ask again about the other thing: Is there an alternative to `width: extern (x) Int` when creating a `cover from` a cover that doesn't come from an external library, or is `extern` simply the keyword for `declared in another cover, somewhere, but not here`?

[2015-11-17 16:47] davidhesselbom commented on #949
Maybe it's not important, but don't forget that
[code]
works just fine.

[2015-11-17 16:51] fasterthanlime commented on #949
@davidhesselbom a getter isn't by-ref, so the cast `Foo -> UnderFoo` works just fine (it's useless and ignored by the C compiler)

[2015-11-17 16:52] fasterthanlime commented on #782
@davidhesselbom no alternative that I know of. an `extern` name is the `underlying name of a field declared somewhere else`

[2015-11-17 17:14] davidhesselbom commented on #949
Oh.. right.

[2015-11-17 17:14] davidhesselbom commented on #782
Okay, just making sure. Thanks!

[2015-11-18 09:13] davidhesselbom commented on #949
I also found this:
[code]
fails to compile with
[code]
in `Point`'s constructor, but if I comment out `Point`'s constructor, I get
[code]
Is this also a bug?

[2015-11-18 09:16] davidhesselbom commented on #949
I also tried modifying `Point`'s constructor to
[code]
Same error: `lvalue required`...

[2015-11-18 10:47] davidhesselbom opened #950 "Range has a funny constructor"
[code]
I can think of reasons why `Range` doesn't have a normal constructor:
- it was written at a time when covers didn't have constructors
- it's old, but it works, so no one has bothered to change it

Are there other reasons?

[2015-11-18 11:00] davidhesselbom opened #951 "Range as a for loop range"
[code]
This doesn't build, because
[code]
What if rock could pre-process this into
[code]
(which does work) so you wouldn't have to spell it out? As far as I can tell, a new `Range` is created with this syntax anyway.

[2015-11-18 11:09] zhaihj commented on #950
It was introduced in https://github.com/fasterthanlime/rock/commit/4f6d871407e2e683b023e464b0b395780d34a796 (Jan 25, 2010)
Other codes at that time use `init`.

Maybe the compiler uses `Range new` to unwrap `a..b` and the compiler was not smart enough to resolve `init` to `new` at 2010 ?

[2015-11-18 11:59] fasterthanlime commented on #949
@davidhesselbom same bug

[2015-11-18 12:00] fasterthanlime commented on #950
this

yes, but not covers afaik?

[2015-11-18 12:01] fasterthanlime commented on #951
ping @shamanas

[2015-11-18 12:02] davidhesselbom commented on #950
Okay, so if I make a PR where I change it to
[code]
, you won't mind?

[2015-11-18 12:08] fasterthanlime commented on #950
@davidhesselbom if it works, I'd be all for it! It's cleaner.

However, in the generate code, that means one more call + pointer dereferences.

The current code generates this:

[code]

Your proposed change will generate this:

[code]

Nothing a good compiler can't optimize, perhaps I used to think Range was performance-critical. Not sure.

Having new directly as a `static func` is perfectly valid

[2015-11-18 12:14] davidhesselbom commented on #950
Okay, I didn't mean to suggest it's *invalid* or anything, it's just... longer, and a bit unusual. I hadn't thought about performance, but otoh, I seem to remember you saying someting along the lines of "ooc wasn't designed for speed", and like you, I doubt the change proposed will have any significant effect.

About the GC, ripping it out wasn't my idea, I swear.

[2015-11-18 12:25] fasterthanlime commented on #950
@davidhesselbom once upon a time I was pretty happy that ooc had "the speed of raw C", but that was before String became a class, before many other changes...

Back then I also had a very bad instinct on what did and did not matter performance-wise. As the generated code grew in complexity, it became harder and harder to get useful info out of profilers like cachegrind.

Anyway, as far as performa

[2015-11-18 12:29] davidhesselbom commented on #950
True...

[2015-11-18 15:28] kirbyfan64 commented on #950
ooc needs help speed-wise. Once when I wrote a BF interpreter in ooc, it was slower than Julia, PyPy, and *gasp* JavaScript...

[2015-11-18 15:28] fasterthanlime commented on #950
ftfy

[2015-11-20 09:37] davidhesselbom commented on #940
[code]
This fails to build with the error
[code]
However, if that last line is changed to
[code]
everything seems to work.

I don't know if this is specifically what @marcusnaslund had a problem with, but perhaps it's related?

[2015-11-20 09:38] davidhesselbom commented on #949
This (also posted in #940 now) doesn't give quite the same error, but is perhaps related:
[code]
This fails to build with the error
[code]
However, if that last line is changed to
[code]
everything seems to work.

[2015-11-20 10:04] marcusnaslund commented on #940
Oh, thank you very much @davidhesselbom - then we are able to reproduce this issue both with arrays and `ArrayList`. I'm reponening this.

[2015-11-20 10:44] shamanas commented on #951
I'll take a look at this today (read the mailing list too)

[2015-11-20 10:47] davidhesselbom commented on #951
On a somewhat unrelated note, it would be cool if you could make ranges run backwards, like this:
[code]
but I suppose there are reasons why that would be a bad idea.

[2015-11-20 15:53] fasterthanlime commented on #951
@davidhesselbom there's a bunch of stuff in the SDK to do backward/reverse iteration, cf. https://github.com/fasterthanlime/rock/blob/94362e9ee6f7cda1f8ffdcda5636c5ed0ad40c3d/sdk/lang/Iterators.ooc

[2015-11-20 15:56] davidhesselbom commented on #951
Using iterators, yes, but I'd prefer not to use them. Thanks for the suggestion, though.

[2015-11-22 10:40] shamanas commented on #949
Hmm, I wonder if the cast and deref happen i nthe middle end somewhere or are generated by the backend.

I wish we had a flag that dumped the AST after all transformations in some format that could be easily visualized.

Anyway, I'll look into this today, though it looks like one of those things that is really difficult to track.

[2015-11-23 17:05] shamanas commented on #949
This is actually an issue with any assignment to an extended cover value.

The issue is the generated cast to a scalar type followed by the dot operator (which seems not to be an lvalue).

I like Amos' solution of just generating `(*foo).bar` (for by-ref accesses) or `foo.bar` for any cover access, I guess I'll have to refresh my backend knowledge :P

[2015-11-23 17:15] shamanas commented on #951
For loops only seem to handle range literal collections as an edge-case, changing this to any expression of type Range should be trivial (I think?).

[2015-11-24 08:07] davidhesselbom commented on #949
Is there a way I can work around it without any of changes I found? Something like
[code]
?

[2015-11-24 11:58] fasterthanlime commented on #951
famous last words :tm: but you're the maintainer :) go ahead.

[2015-11-24 15:51] shamanas commented on #951
I've got a version that is 99% of the way there but for some reason it generates both a correct index  variable vdecl and an incorrect one that makes rock choke T_T

[2015-11-24 15:56] davidhesselbom commented on #951
They say when 90% of the time is spent on the last 10% of the job, so by extension, that means 81% of the development time remains? :P

[2015-11-24 15:58] shamanas commented on #951
Seems accurate to me, although the time I've spent so far is minimal anyway :)

I'll try to finish this off now, add a couple of tests and then move on to the cover member assignment bug.

[2015-11-24 16:07] kirbyfan64 commented on #951
@davidhesselbom You beat me to say that by 10 minutes.

[2015-11-24 16:42] shamanas commented on #951
For some reason a foreach loop adds it's index variable vdecl in a scope before it, so when I do my hackish replacement of a range collection with a range literal, I generate a secon vdecl and the first one is unresolvable.

The problem is the fact that I can't find the code that actually adds the vDecl before the for loop (although the code that generates the decl is obvious)

[2015-11-25 07:48] zhaihj commented on #951
@shamanas
I haven't read all the discussion, but if you mean `Foreach variable`,
I think it is added to parent scope while being resolved.

In middle/VariableDecl.ooc: 230 ~
[code]
This part try to unwrap variable decl to its parent scope. Maybe it is mainly designed for things like
[code]

The debug loop information also shows than `i` is unwrapped while resolving

[code]

[2015-11-25 08:19] shamanas commented on #951
@zhaihj
Thank you, I couldn't figure out where it was added to the parent scope (I assumed Foreach was doing it), this still leaves things a bit complicated but I suppose I can go up the trail and fetch the definition :)

[2015-11-25 08:32] shamanas commented on #951
That was going to be my solution anyway but it frustrated me too much I couldn't find where the variable was unwrapped, since it is done in VariableDecl.ooc I think it is the correct solution.

[2015-11-25 09:16] shamanas commented on #951
By the way @fasterthanlime the C backend seems to be making the index variable iterate over the same range as the foreach variable (for range foreaches).

Here is some generated code:
[code]

From:
[code]

[2015-11-25 13:01] #935 closed

[2015-11-25 16:25] shamanas commented on #949
@fasterthanlime

It seems making rock never output casts for accesses to covers works and I think it is a correct thing to do.

I cannot think of any edgecase, since cover "hierarchy" is expressed through typedefs.
PR will be up in a bit.

[2015-11-26 09:06] #291 closed

[2015-11-26 13:26] davidpiuva opened #955 "Changes in slurped files do not cause recompilation of slurping modules."
It is most likely because the slerping module has not changed even thou the meaning has changed from the external file. One solution is to connect all slerped files as dependencies to the modules where they are placed.

Using `rock -x` before compiling solves the problem but is slower.

[2015-11-26 13:42] shamanas commented on #955
Ah, that's an interesting bug.

Adding the slurped files as dependencies seems liek the right thing to do, will take a look at it in a bit.

[2015-11-26 14:15] shamanas opened #956 "Rock doesn't write function names to cache archives but instead outputs %s"
Because of Archive.ooc@547-549:

[code]

This will be fixed in addition to adding slurped files to archives and bumping the cache version to 0.6

[2015-11-26 15:05] #949 closed

[2015-11-26 15:06] #955 closed

[2015-11-26 15:06] #956 closed

[2015-11-26 15:06] #951 closed

[2015-12-06 14:17] shamanas opened #959 "Unused cover templates make rock segfault"
I was playing with cover templates a bit, trying to write an ArrayList implementation, when I noticed this:

[code]

[2015-12-06 15:28] shamanas commented on #959
Here is my completed (minus iterators, will do them soon), untested (add~withIndex is probably wrong) cover template ArrayList, if anyone is curious by the way:

[code]

I think the way I did it with a SafeArray + SafeArrayRange would actually also allow specialization without memcpy/memmove (by using range assignment with cover templates)

[2015-12-06 17:52] #959 closed

[2015-12-07 10:50] shamanas opened #961 "Deduce template in the same way we deduce generics"
For example, make this work:

[code]

[2015-12-07 10:53] shamanas opened #962 "When passing a cover template this to a cover template static function, rock doesn't look for the signature in the instantiated cover but in the general one"
This is the best title I could come up with.
Basically, this:
[code]

Results in those errors:
[code]

[2015-12-07 10:55] shamanas commented on #962
It appears to me rock is looking into the BarT metaclass instead of the BarInt metaclass.
This baffles me because the call is Bar<T> new and T has already been resolved to Int, so it should be replaced with BarInt new or something similar.

[2015-12-07 10:56] shamanas commented on #962
Also, my SafeArray (+ SafeArrayRange + ArrayList) implementation doesn't work because of this :(

[2015-12-07 11:00] shamanas commented on #962
This works fine when passing a T to the other class, by the way.

[2015-12-07 11:10] shamanas opened #963 "Enable class templates? (Or any TypeDecl template)"
Looking through the cover template code, I noticed it is pretty simple and elegant and does not have anything cover specific.

It would be really easy to move it to TypeDecl and enable the syntax for classes (and enums? :P).

I feel like @fasterthanlime intentionally added it to only covers but I never saw any discussion on reasoning.

In my opinion, adding the option to build class templates woul

[2015-12-07 11:53] fasterthanlime commented on #963
I think the type structure of covers was simpler, that's why I started with only that — plus classes already had generics, so we would've continued on with the typical "covers are light/fast/low-level/templates" vs "classes are heavy/flexible/high-level/generics" dichotomy.

That said if you can get it reliably working for both I don't see any reason why not!

[2015-12-07 12:02] shamanas commented on #963
Good, I will take a look at it later!
I think it can be done pretty easily tbh

The real issue would be generic class templates (something like `Foo: class <T> template <U> { ... }`) but I'm fairly sure it would work with little to no changes (although I don't see why you would ever do it :P)

[2015-12-07 12:03] shamanas commented on #938
This is not needed, closing.

[2015-12-07 12:03] #938 closed

[2015-12-07 12:03] fasterthanlime commented on #963
famous last words! :)

[2015-12-07 12:04] shamanas commented on #963
Haha I'm sure it will bite me in the ass but I don't see a reason why having an instance table + resolving accesses and types against templates would not work for a TypeDecl :)

[2015-12-07 12:06] fasterthanlime commented on #810
I think we should use the following syntax:

[code]

(In all seriousness, I have no idea what actually makes sense here, and I'm not sure I'm actually fond of the idea itself. It sounds like something useful mostly for dynamic languages, and I'm pretty sure it just helps hides a lot of programmer error rather than actually solve anything)

[2015-12-07 12:10] shamanas commented on #810
Well, the better solution would be non-nullable types and/or an architecture where null NEVER appears but there are bound to be places in your code were null appears and you need to navigate into some class.

For example, navigating rock's AST, something like `expr $ type ?? voidType`, where an expression is optional and we should default to void, things like that.

Of course, this is your languag

[2015-12-07 12:14] fasterthanlime commented on #810
I don't think blocking one more feature is going to make or break the language at this point.. if it's already working, I suppose `$` is good enough for now.

[2015-12-07 12:58] vendethiel commented on #963
I don't know enough OOC to know the difference between generics and templates?

[2015-12-07 13:02] vendethiel commented on #938
why not needed? :)

[2015-12-07 13:03] vendethiel commented on #962
Reading rock issue titles is always such a ride :D

[2015-12-07 13:21] shamanas commented on #962
I couldn't describe it in less words, I am afraid :P

[2015-12-07 13:23] shamanas commented on #938
@vendethiel I think adding class templates and working a bit on inferring will be enough templates for us.
You can basically do this with the trick I showed above anyways.

After I add class templates, rock will be considered feature-complete, at least in language features.
Of course, additions to the sdk and rock's functionality itself will be always welcome.

[2015-12-07 13:28] shamanas commented on #963
@vendethiel

Generics in ooc are reified.
This basically means that we have type/class information at runtime (the class field) and a generic function/collection "just" takes an array of bytes and a class object.
Then, you can compare classes at runtime and cast however you wish (if necessary).

Templates are C++ style templates (although only class templates and without SFINAE), which basically m

[2015-12-07 13:30] shamanas commented on #963
You can look in the generated C code to understand how all of this works, with a bit of practice rock's output is actually readable (I would not recommend doing it if you have a headache though :P).

[2015-12-07 13:49] vendethiel commented on #963
(No, not really. SFINAE is template overloading, what you described is just the "duck typed" nature of C++ templates)

Thanks for the information. I'm not sure I want to poke at generated C code, but maybe one day :P

[2015-12-07 13:56] vendethiel commented on #938
Okay, thanks!

[2015-12-07 14:11] shamanas commented on #963
Yes, you are right, I thought that invalid operations on an expression of a templated type (or derivative) qualified as SFINAE too.

[2015-12-07 15:30] kirbyfan64 commented on #963
That would be deferred instantiation.

[2015-12-07 16:06] davidhesselbom commented on #810
The only downside is that someone might come up with a better syntax some day, change it, and break existing code. Not that a lot would have to be fixed even then...

[2015-12-07 16:16] shamanas commented on #810
@davidhesselbom It will be merged soon, after I finish class templates so I don't mess up the grammar.

If I don't finish those today or tomorrow morning, I will be merging it alone tomorrow afternoon.

[2015-12-08 11:07] shamanas commented on #963
I think I have a working version, at least simple cases seem to work fine (including generic class templates).

Will be adding a couple of tests in a bit.

[2015-12-08 11:26] shamanas commented on #963
Never mind, cover template tests are failing (rock is crashing T_T)

[2015-12-08 14:14] shamanas opened #964 "Rock doesn't always resolve type template instances, leading to backend crashes"
For example:
[code]
Here, `Foo<Int>` is never resolved (both with master and my class_template branch), init is never resolved, leading to =fn never being resolved and not getting a type, which the backend tries to write blindly.
The result, unsurprisingly, is a segfault.

(For some reason, the exact same code with class instead of cover and func instead of func@ has its instance resolved on my cl

[2015-12-08 14:15] shamanas commented on #964
Here is a simpler case:
[code]

Which leads to `[Exception in BaseType]: Trying to write unresolved type T`, which is the exact same bug.

[2015-12-08 14:21] shamanas commented on #964
Of course, accessing val leads to `Foo<Int>` being resolved but this should be done automatically on instanciation (which may prove to be quite the challenge)

[2015-12-08 15:23] shamanas commented on #895
I have another instance:

[code]

(At least on my branch)
Which is literally one of the tests and passes correctly on Travis-CI :/

[2015-12-08 15:25] shamanas commented on #895
TODO: When fixed, grep #895 and fix instances where I may handle both TypeAccesses and VariableDecls

[2015-12-08 15:36] shamanas commented on #895
Writing some class template tests and I'm on this

[2015-12-09 09:13] #964 closed

[2015-12-09 09:14] shamanas commented on #963
Closed by #965

[2015-12-09 09:14] #963 closed

[2015-12-09 11:57] shamanas commented on #895
Ok, apparently FuncTypes have VariableDecl typeArgs (which make sense) but the overload of Type getTypeArgs returns a List of VariableDecl's instead of TypeAccesses.

[2015-12-09 11:59] shamanas commented on #895
That explains __va_call too, since it has FuncType in its signature.

[2015-12-09 12:22] #895 closed

[2015-12-09 13:03] shamanas commented on #962
`__Foo__Int (ref: ClassDecl __Foo__Int)  vs Foo<T> (ref: ClassDecl __Foo__Int) = -100000`

This is one of those things that makes me sad :(

[2015-12-09 13:04] shamanas commented on #962
Probably because of the typeArgs.

[2015-12-09 14:23] #962 closed

[2015-12-09 14:29] marcusnaslund commented on #830
Was this solved by #965 or is there more to do here?

[2015-12-09 14:32] shamanas commented on #830
@marcusnaslund With #965 you should be able to extend type template instances (not generic types), although I haven't tested it.

I will be looking at this next, I have some work on one of my branches, I will go through it and figure out where I was stuck.

[2015-12-09 14:37] marcusnaslund commented on #830
Awesome, best of luck.

[2015-12-09 14:41] shamanas commented on #830
@marcusnaslund Thank you :)
I don't think I will have much time today but looking at the rate I've been solving bugs and adding features I would expect to be finished by tomorrow night.

Or perhaps this time I'm too cocky, I've crossed the line and the rock gods will punish me.
We will see either way, I'll post here if I have any significant breakthroughs.

[2015-12-10 13:08] thomasfanell opened #968 "Safe-navigation operator fails when operand is a property"
Here is a mock-up that should illustrate what I mean:

[code]

[2015-12-11 16:33] emilwestergren opened #970 "ooc-array consisting of generic class gives compilation error"
[code]
gives me the compiler error
`error No such function new() for ArrayClass`

Is this a bug or is it simply not allowed?

[2015-12-12 09:43] shamanas commented on #970
This sounds like a bug.

[2016-02-02 18:52] fasterthanlime opened #972 "Giving ooc to the community"
Here's the short of it:

  * I became too busy to take care of ooc
  * I tried to keep maintaining rock & other tools, and tried to keep the original philosophy/spirit
  * That kinda failed
  * Cogneco/imint folks reached out, asked me how I felt about paid bounties to work on their rock fork
  * My pov is that I see no reason to maintain two forks, and if they're the primary users they should hav

[2016-02-02 19:04] vendethiel commented on #972
:+1:

[2016-02-02 20:39] kirbyfan64 commented on #972
:(

(cues [Taps](https://en.m.wikipedia.org/wiki/Taps))

[2016-02-02 20:44] fasterthanlime commented on #972
Note that this isn't a sad thing! Instead of having ooc slowly die from my lack of involvement, it can thrive under someone else's direction. I think it's pretty good news, I just failed to frame it in such a light :)

[2016-02-02 23:20] zhaihj commented on #972
:+1:

[2016-02-03 08:51] davidhesselbom commented on #972
Actually, I no longer work for Imint, and while I really meant it when I said I like ooc, I don't have any time to spend on it now that I'm no longer paid to do so. :-/ I also think a few things are missing from the language, things that I suspect are intentionally left out and that I suspect the people at Imint will want to add, and that they didn't think you would ever approve of (hence the fork

[2016-02-04 10:27] shamanas commented on #972
I agree completely with Amos here.

[2016-02-11 23:12] h3l1xc opened #973 "Add a simple way of making chained method calls"
It will make code more concise. It's already possible, returning `this` from a method, but it prevents using the return value for something more useful. Here is an example:

`apple := Fruit new() setColor("green") $ setType("apple")`
Here `setType` doesn't refer to the return value of `setColor`, but instead to the last non-chained method (here it's `new`, so it refers to the new instance of Fruit

[2016-02-11 23:26] fasterthanlime commented on #973
Isn't that exactly what `.` does ?

[2016-02-11 23:29] h3l1xc commented on #973
Really? I didn't know that! Now I feel dumb :P

[2016-02-11 23:34] fasterthanlime commented on #973
Don't feel bad! It must be the first time in six years somebody asks for something we already have ;)

[2016-02-11 23:34] #973 closed

[2016-02-17 12:01] fasterthanlime commented on #972
So, I've had news from Fredrik, he wasn't expecting my offer to have 'their' fork become the main one, and he says their fork is not ready (some of the changes aren't "clean enough" to be merged back in the main tree, etc.) so it looks like, for now, they'll continue as two separate projects.

[2016-02-18 09:44] marcusnaslund opened #974 "The number of super constructor arguments do not need to match"
Here is a simple example:

[code]

Even though `Base` has no zero-argument constructor, this code still compiles and runs just fine. The `v` passed to `Derived` constructor magically ends up in `value`.

[2016-02-18 09:58] vendethiel commented on #974
Isn't super ruby-like just forwarding its arguments?

[2016-02-18 10:12] zhaihj commented on #974
The compiler does forward all the arguments. You can find the related lines around rock/middle/FunctionCall.ooc: line 428.
But I don't know what the "expected action" should be.

[2016-02-18 10:21] davidhesselbom commented on #974
What if a zero-argument constructor is added in `Base`? Should the value still "magically" end up in `x value`, or should the constructor in `Derived` be modified to call `super(v)` instead of `super()` for that to happen? Should there be a warning that `v` is ignored?

[2016-02-18 11:06] zhaihj commented on #974
If change the test code to
[code]

It wil print `0` instead of `3`, because `init: func` has higher matching score than `init: func(int)`.

[2016-02-18 11:51] davidhesselbom commented on #974
Thanks for clearing that up - I don't recall it being possible to call `super()` unless there was a matching zero-argument function in the base class.

So... modifying `Base` by adding another constructor will make `Derived` call a different function. If this were *my* program, I think I'd want to be explicit about which function `super` refers to by calling `super(v)` instead of `super()`, then,

[2016-02-19 06:49] zhaihj commented on #974
Yes, if you call `super(v)` explictly, it will finally match `init: func(int)`, and the forwarding will not happen.

However, currently compiler will ignore the suffixes of super, so if we have
[code]
 `super~b()` may no result a call of `init~b` as both `init~a` and `init~b` have the same score.

[2016-02-19 07:04] zhaihj commented on #974
The following patch make `super`+`~suffix` available.

[code]

[2016-02-19 15:52] fredrikbryntesson opened #975 "Handbook/documentation about coding on rock"
Hello, dear ooc community!

We have decided to push forward with [our fork of ooc and rock](https://github.com/magic-lang/rock) and are about to create a bounty program which will be released very soon.

The issues we want to solve are important for us but I also think ooc-lang will gain from this. Every solution the bounty program generates will be open source and up for grabs by ooc-lang. In mos

[2016-02-19 17:26] shamanas commented on #974
By the way, I would suggest using the super modifier in the function prototype if you need to call the super function anyways.

If you do need to call it conditionally, using all the arguments would obviously be better form, since the addition of a zero argument version of the function would alter behavior.

[2016-02-19 17:35] shamanas commented on #975
I could write up something basic now that my exams period is over, however I don't think any single person except Amos is 100% familiar with the whole codebase.

I have a fair bit of knowledge on the middle end, particularly function scoring, type inference (common roots etc) and the way the whole resolving phase goes (looping, replacing etc.)

I also know how most of the codegen/runtime operates

[2016-02-19 17:56] fredrikbryntesson commented on #975
Well, anything is better then nothing :) And several people can add information to this, it does not have to be one person writing the whole thing. But to be sure that no one is feeling cheated, everyone that want to add to it (and cares about compensation) should send me a mail to straight out the compensation plan before starting on anything.

[2016-02-19 18:05] shamanas commented on #975
Of course, I wouldn't expect to have any sort of exclusivity ;)
Besides, my writing is probably not the best, I would be happy to see anyone else take the initiative.

My motives are purely out of fondness and interest towards the language.
I think writing this stuff down now that it is all relatively fresh in my mind is a great thing, especially if it helps new devs get into rock's internals and

[2016-02-19 19:51] davidhesselbom commented on #974
"the super modifier"?

[2016-02-20 09:16] shamanas commented on #974
Yes, you can do something like:

[code]

It doesn't allow you to add call though, it's pretty much only useful to inherit constructors, since you are required to do it in some cases.

[2016-02-20 11:04] vendethiel commented on #974
IIRC the tutorial mentions this as a "hackish workaround"?

[2016-02-20 11:05] vendethiel commented on #975
I don't know much about OOC, except for some wanderings in the source code here and there (and looking at PR code). I never built a real project with it (mostly due to windows incompatibilities), so I don't believe to be qualified enough :-).

[2016-02-20 13:34] zhaihj commented on #975
I think I can write something on the Drivers in frontend, class/cover/ifelse and some other modules I have worked on in middleend. However, I have to finish my paper first so I can't really start writing before April 25.

[2016-02-20 13:48] fasterthanlime commented on #974
I don't remember exactly, but perhaps the issue with the `super` modifier isn't the spec but its implementation.

[2016-02-20 16:23] kirbyfan64 commented on #975
I don't know about ooc's internals that well...but I can definitely help with proofreading! I'm a grammar nerd. ;)

[2016-02-20 18:48] shamanas commented on #974
The implementation looks fine (does what I expect) to me and I don't particularly recall it being considered poor style.
Anyway, the use case is rare, I just think it's more elegant to inherit a constructor that way than just using a super call in the body.

[2016-02-21 13:08] shamanas commented on #975
I've started writing up some stuff, mainly some coding style things and an overview of rock's structure [here](https://github.com/shamanas/rock-dev).

[2016-02-23 14:39] fredrikbryntesson commented on #975
@zhaihj and @shamanas: Awesome, this makes me very happy :) I read the stuff you wrote now and it looks very good :) Keep it coming and send me a mail if you want to talk about compensation.

[2016-02-23 15:01] fredrikbryntesson commented on #972
Yes as Amos said we should keep the forks separate. But I hope and guess that almost everything we will do in rock will be easy to merge into upstream. I hope that our bounty program will contribute to both our fork and ooc-lang :)

[2016-02-23 16:11] shamanas commented on #975
@fredrikbryntesson There are still many typos in there and I think some of it ought to be rewritten :)
I'll probably finish up Chapter 1 tomorrow and write a bit about the AST and the middle end in general Thursday.

[2016-02-29 21:26] h3l1xc commented on #975
Nice! It's awesome to see that a project I love is alive! I also felt sometimes the need of a proper documentation.
@shamanas great work! You can put a TODO list in your README, so we can start working on it.

[2016-03-01 05:51] shamanas commented on #975
@h3l1xc Sure thing, it's now on my TODO list ;)
Seriously though, I will be updating some stuff later today.

[2016-03-04 11:56] sebastianbaginski opened #976 "Latest version of rock does not build on windows"
[code]
error seems to be in `rock\build\c-source\ooc\sdk\os\native\TerminalWin32.c` , lines 89-98:
[code]
seems like `__os_native_TerminalWin32_arrLit1` and `__os_native_TerminalWin32_ptrLit2` are used before they are defined.

You can manually fix it and continue with compilation, but it will fail later when compiling TerminalWin32.ooc, so I guess that this file is the real source of the problem.

[2016-03-04 11:57] marcusnaslund commented on #976
This is Windows 10, to be specific, right?

[2016-03-04 11:58] sebastianbaginski commented on #976
Yes, we have tested on both Windows 10 and Windows 7, with the same reslults.

[2016-03-04 15:09] zhaihj commented on #976
The same issue:  https://github.com/ooc-lang/rock/issues/912
should have been solved by https://github.com/ooc-lang/rock/pull/915
I'm not sure why it appears again. I will take a look at it when I get enough time.

[2016-03-08 22:41] fredrikbryntesson opened #977 "The bounty program for rock is on"
As I have mentioned earlier, we have created a bounty program for our fork of rock to try to get the most critical issues (in our opinion) solved. I hope and believe that this will also gain ooc-lang :) Everything we get from it will be open source.
Take a look at it, spread the word or maybe do some coding :)

https://github.com/magic-lang/bounty

[2016-03-09 01:06] zhaihj commented on #977
:+1:

[2016-03-10 10:52] shamanas commented on #968
What appears to be happening is that only the outermost property access is translated to a call.
Probably a VariableAccess bug, SafeNavigation seems to be completely fine to me (all it does is make a huge ternary with accesses and checks to NULL).

On it.

[2016-03-13 13:06] marcusnaslund opened #981 "The last line of a returning function isn't executed if it isn't stored somewhere"
Consider a very simple stack:
[code]
Popping the stack using `temp := myStack pop_broken()` works, but if the line is simply `myStack pop_broken()`, then `his _data[--this _count]` isn't executed at all (and thus `this _count` is never decreased). The `pop_works` method always works because `this _count` is decreased, and then the last (returning) line is not executed, but that's fine, since we do

[2016-03-13 14:39] shamanas commented on #981
Will take a look at it today.
Sounds weird, probably some generics bug (what I'm thinking is happening is that the whole function becomes a single return statement and isn't executed when you don't store the result).

[2016-03-13 15:38] thomasfanell commented on #981
@shamanas I ran into something similar a few weeks ago, and I found that the generated C-code is checking if the receiver is a null pointer, and if it is, nothing is done. That is, instead of a pointer to an lvalue, Literal `NULL´ is passed to the generated C-function.

[2016-03-13 15:44] thomasfanell commented on #981
[code]
and the generated call without an lvalue would be: `stack_pop(theStack, NULL)`

[2016-03-13 17:08] shamanas commented on #981
Yes, generic return is implementing by taking a generic pointer for output, so if we discard the return value we pass NULL, than NULL checks are done around every return statement, so it's exactly like I suspected.

Now, the solution is obvious:
Instead of just generating an if statement, also generate an else branch that just executes he expression.

[2016-03-13 17:29] shamanas commented on #981
Actually, it looks like rock already tries to take this into account but hasSideEffects doesn't detect the side effects here :P

[2016-03-13 17:36] shamanas commented on #981
@marcusnaslund By the way, there is no decrement or increment operators in ooc (postfix or prefix), prefix operators just incidentally work because we have prefix `+` and `-` and it is apparently legal to have more than one.
Should probably fix that too.

[2016-03-13 17:40] shamanas opened #982 "Multiple '+' or '-' prefix operators in a row should be disallowed"
Currently, using two '+'s or '-'s in a row causes rock to produce a postfix increment/decrement operator in the resulting C code.

Semantically, there is no reason in particular why it should be allowed anyways, it just causes confusion since ooc is a C family language but we have no increment/decrement operators.

[2016-03-13 17:53] vendethiel commented on #981
There's no side effects in `pop_broken` - if you don't store the result, it's a no-op (it isn't currently due to OOC emitting "--" in C, but semantically should be)

[2016-03-13 17:56] shamanas commented on #981
Yeah, I agree, I am talking about the exact same code replaced with the correct way to do things `this count -= 1`.

hasSideEffects always returned false for array accesses.

[2016-03-13 17:57] marcusnaslund commented on #982
I agree. If I remember correctly, `++variable` works, but `variable++` does not, which always confused me.

[2016-03-13 17:57] shamanas commented on #981
Also, BinaryOp returned the opposite of what it should (it returned `!isAssign()`, while it should return `isAssign()`)

[2016-03-13 17:58] vendethiel commented on #981
Ah, makes sense

[2016-03-13 17:59] shamanas commented on #982
Yeah, it works accidentally, it shouldn't.

I would highly advise you to go through your code and replace all instances it appears in, I will make it an error soon.

[2016-03-13 18:00] vendethiel commented on #982
`++variable` is just semantically `+(+(variable))`, but is generating C code "++variable" because of no special-casing. Whereas I gather "variable++" simply doesn't parse?

[2016-03-13 18:00] marcusnaslund commented on #982
I was just about to. :)

[2016-03-13 18:04] shamanas commented on #982
@vendethiel
Exactly but I do think disallowing multiple prefix `+` and `-` operators is the way to go, as I said it would be really confusing otherwise, even if the generated code did not result in C's increment/decrement operators.

[2016-03-13 18:14] #981 closed

[2016-03-14 01:16] zhaihj commented on #982
change the rule of unary operator  to `'+' !'+'` works for me.

https://github.com/zhaihj/nagaqueen/commit/d14f181111f41481bc24c18470a99b78cf75db44

I'm trying to make the error message more clear

[2016-03-14 06:59] shamanas commented on #982
Could be done with something like:

[code]

[2016-03-14 07:12] zhaihj commented on #982
@shamanas
I'm wondering why this doesn't work:

[code]

[2016-03-14 07:18] shamanas commented on #982
I'm not too sure how `~` is implemented in greg, perhaps it can only be used after a match, so the `!` here makes it useless?

I don't know, so I'm probably wrong though :)

[2016-03-14 11:31] fasterthanlime commented on #982
I think @shamanas is right: `(!'+')` doesn't mean "Match something that isn't a plus", it means "stop matching if the character ahead is a plus" - so the rule probably doesn't match at all.

I think this was the right idea:

..except why can't it live in a separate PRE_INCREMENT / POST_INCREMENT rule? It might feel silly to actively look out for an operator we don't support, but that's the price t

[2016-03-14 11:38] shamanas commented on #982
If it lived in a PRE_INCREMENT rule, we should do something like:

[code]

Anyways right?
So we still actively look for the operator we don't support, just in the child rule.

To me, `UNARY_PLUS = '+' ('+' { rewindWhiteSpace; throwError(...); })?` reads like: match unary `+` operator exactly one time and error out if we find it more than once, feels natural.

Anyway, it's just a little trick for b

[2016-03-14 11:56] fasterthanlime commented on #982
not necessarily, you can have several rules that start with '+', as long as unary plus has a `!'+'` after the first plus is matches, the double-plus rules should kick in next.

(then again I haven't touched nagaqueen in a while)

[2016-03-14 12:03] shamanas commented on #982
Sure, I don't disagree.
The point is, at some point or another, you will need to 'call' the double-plus rule so that error checking is done.
That means that no matter what you do, you will have some weird looking rule.
I personally prefer having the error checking in the UNARY_PLUS rule because I feel it makes it explicit that a chain of `+`s is not legal.
Another way would be to have a separate D

[2016-03-16 13:56] fredrikbryntesson opened #984 "The top 5 bugs?"
What are your top 5 bugs that you think would gain ooc most to have solved? Do any of you have a particular bug in mind that is more critical then others?
It would be interesting for us at magic-lang to know if/when we extend the bounty program.

[2016-03-16 14:03] shamanas commented on #984
Off the top of my head I can only think of #445 right now.
This one has always bugged me a great deal and I've attempted a fix a couple of times.

I should really fix and close it once and for all :P

[2016-03-16 14:38] zhaihj commented on #984
Same with shamanas, my top is also #445.

And, even they may be not bugs, #822, #439 and #580 are also the things I want to see.

[2016-03-16 14:43] shamanas commented on #984
I don't know about #822 and #439 but I do agree with #580 and it is actually easily achievable (just rip some of the hardcoded Array stuff out from rock and translate `T[]` to the template `Array<T>` version)

[2016-03-18 17:09] shamanas opened #985 "Template type instances generated in separate modules do not generate include statements in C code"
Here is an example in some code I've been writing:

UnsafeArray.ooc
[code]

Bitmap.ooc
[code]

This piece of code generates invalid C code because the generated template instance does not have access to RgbColor's declaration.

Rock should automatically deduce what additional imports are needed and add them to the template type's module.

[2016-03-18 17:14] shamanas commented on #985
Temporary fix is obviously adding imports manually (e.g. import Bitmap in this example)

[2016-03-27 16:40] cNoNim opened #986 "Wrong cast to non scalar type, and some other problems."
I try build rock in Visual Studio 2015, but got several bugs which i don't understand.
I can fix that manually in C source, but I think it's wrong.

I tried minimize broken code, and:

[code]
in C source I got...  example:

[code]

Handler_reference is struct, and I think such cast is GCC extension not allowed in C99, and in Visual C.

Next. In some places uses structs without member, is also GCC

[2016-03-27 17:50] shamanas commented on #986
Hi and thanks for the report.

Interfaces are a known buggy feature and MSVC compatibility has not been tested in a long time.
However, I will take a look into these tomorrow, especially the last issue you pointed out.

[2016-03-27 18:53] cNoNim commented on #986
Hi and thanks for the respond

I can build and test rock on MSVC, and fix not cross-platform places, but first I think need fix GCC specific code.

To build rock on MSVC I change some places:

-  remove unistd.h,
-  use https://github.com/tronkko/dirent for dirent.h,
-  build boehmgc from https://github.com/ivmai/bdwgc,
-  fix structs without member,
-  add defined(_WIN32) for version (windows),
-

[2016-03-28 00:01] zhaihj commented on #986
You can also use cmake driver to generate msvc project files.

[2016-04-06 14:51] marcusnaslund opened #990 "Rock parses function arguments with default values incorrectly"
All of these should of course be equal, but are unfortunately not:

[code]

For example, `bar` fails with `error Couldn't unwrap decl 'false: Bool'`, which suggests rock parses something incorrectly.

[2016-04-07 06:18] shamanas commented on #990
Huh, weird.
Will be looking into it.

[2016-04-07 14:02] marcusnaslund opened #991 "'this' as default parameter value in a function refers to the wrong object"
Here's a short example:

[code]

The value of `v` in `foo` is resolved as `this value` but `this` does not point to itself but rather to the calling object `b` and fails with: `error: ‘example__B’ has no member named 'value'`

The same happens if the last line is replaced with `something := b bar()`, then the default value of `w` in `bar` fails because `this` is undeclared (we're not calling from

[2016-04-07 14:38] fasterthanlime commented on #991
haha, definitely not by design

[2016-04-08 06:49] shamanas commented on #991
Huh, fun one.

[2016-04-08 10:44] thomasfanell opened #992 "Static variables are not maintained correctly"
Consider this example, where everything works as expected:

*Base.ooc*
[code]
*Derived1.ooc*
[code]
*Derived2.ooc*
[code]
*main.ooc*
[code]

**Now**, if we instead comment out `d1` and `d2` in `main.ooc` and uncomment the creation of `Derived1` and `Derived2` in their respective files, we get `Instance count = 1`. That is, the static variable is re-initialized for every instance.

[2016-04-17 13:15] tomcashman opened #993 "Add newcomer label to issues"
It would be good for newcomers who want to help ooc/rock to be able to find issues that are easy enough to fix and would help them become familiar with the rock codebase. So I think tagging suitable issues as 'newcomer' would be good. Are they any suitable issues at the moment?

[2016-04-17 18:21] shamanas commented on #993
It is actually pretty tricky to say if an issue is going to be easy for a newcomer or not because of the nature of the problem.

Even what appears to be a trivial bug can be caused by a bizarre set of reasons.
I would actually say that adding features is easier than solving most bugs, if you keep a couple of things in mind (avoid double evaluation, replace nodes only when/if needed, use common roo

[2016-05-09 16:42] shamanas commented on #992
Looking into this now.

[2016-05-09 16:58] shamanas commented on #992
What happens is that the Module load functions call their respective class' load function and both Derived1 and Derived2 (obviously) call their parent's (Base) load function, which resets `instanceCount` to zero, since multiple executions are allowed.

Basically this means that any side effect on static member initialization will be evaluated multiple times (as many times as you have sublclasses).

[2016-05-09 17:03] shamanas commented on #992
On a sidenote, string literals are constructed after class loads which leads to crashes if you try to use one in your static member initialization.

However, I don't think reversing global variable initialization and class load order is wise, since you may initialize a variable that depends on the class' static members.

I will see if there is some way to only reverse the order between (string) li

[2016-05-09 19:13] #992 closed

[2016-05-09 19:15] shamanas commented on #992
@thomasfanell
Will be opening a PR for magic-lang in a bit.

[2016-05-10 09:44] shamanas opened #995 "Allow implementing interfaces after type declaration"
Proposed syntax:

[code]

@fasterthanlime
Thoughts?

[2016-05-10 09:54] shamanas commented on #995
Potential issues:
What happens if the type already implements the interface but hasn't been declared that way?

For example:

[code]

[2016-05-10 10:24] shamanas opened #996 "rock generates invalid C code when trying to access an interface's generic type"
[code]

Generated code:
[code]
Basically, there is no way to get to T from an interface reference.

[2016-05-10 10:25] shamanas commented on #996
T should probably live in CraaazyInterface__reference in the generated code.

[2016-05-10 10:28] shamanas commented on #996
Well, technically T can be accesses in some way through obj but the whole point is that we do not know the type of obj, so we can't cast it to the actual object type of the current interface reference passed to access it.

[2016-05-10 12:20] shamanas opened #997 "Funcs should behave as Closures with extra type information."
Concretely, you should be able to access Closure fields and methods without having to cast a Func into a Closure.

Func should really just be used to specify the type of the raw  function pointer (thunk) stored by the Closure.

In the bundled sdk, this change has two small effects:

[code]

In ooc-kean, this helps with cleaning up closures, since you can call `free()` without casting all your Func

[2016-05-10 12:26] marcusnaslund commented on #997
This would make so, so, happy. :)

[2016-05-10 12:30] shamanas opened #998 "rock sometimes segfaults when classes try to implement interfaces"
Haven't pinpointed what causes this yet.

Here is the current smallest testcase I could find:

[code]

This code compiles:

[code]

This code segfaults rock:

[code]

It seems that implementing toString stops the segfault, unless print is also defined in Printable, which brings back the segfault.

[2016-05-10 12:33] shamanas commented on #997
@marcusnaslund
I guessed so, and I see no reason why it shouldn't work when Func types are already baked in and considered as Closure by rock.

[2016-05-11 08:28] marcusnaslund commented on #997
I'm curious, what is the underlying difference between a `Closure` and a `Func`, and why are they two different types?

[2016-05-11 08:49] shamanas commented on #997
@marcusnaslund

As far as I am aware, there is no actual difference between the types in the C output.
The two types are exactly the same, which is why you can cast from one to another without issues in ooc.

Using Func types assumes a Closure type with a thunk and context Pointer is defined by the SDK and that is about it.

Now, Func types are needed to keep type information about the closure and

[2016-05-11 08:51] shamanas commented on #997
In other words, Func types are not actually defined anywhere (as opposed to pretty much every other type in ooc), they behave as (and expect) Closures but are a necessity for typecheking and calling the functions correctly.

[2016-05-11 08:55] marcusnaslund commented on #997
Interesting, thanks. Sounds like an easy fix, then.

[2016-05-11 08:57] shamanas commented on #997
Shouldn't be too difficult, especially making the types compatible.
The access stuff could be a little bit more tricky but I do think it's pretty straightforward.

I will be trying to fix #998 today and then I'll be on this one.

[2016-05-11 14:29] #998 closed

[2016-06-06 17:11] refi64 opened #1000 "pkg-config/CustomPkg flags aren't passed to additionals"
e.g. given the following `xyz.use`:

[code]

when Rock compiles `x.c`, it will NOT pass the result of `pkg-config --cflags`.

[2016-06-06 17:35] refi64 opened #1001 "Rock cannot find sdk when run from make"
Create the following simple `Makefile`:

[code]

Now make an empty file `x.ooc`. This is what happens when I then run `make`:

[code]

[2016-06-06 20:11] marcusnaslund commented on #1000
GitHub ID #1000, congrats. :)

[2016-06-07 05:49] slice commented on #1001
@kirbyfan64 How did you install OOC? I cannot reproduce this.

[2016-06-07 12:18] alexnask commented on #1001
Weird, it should look into the executable's parent directory and try to find it regardless on how it was ran.

Will look into reproducing this.

[2016-06-07 12:19] alexnask commented on #1000
Oh, so Additionals overwrites the CustomPkg additionals.
Will take a look later today, thanks for the report!

[2016-06-27 17:37] marcusnaslund opened #1002 "Weird behaviour with setters calling associated getter"
## Example 1 (associated getter):

[code]

should print "two" but prints "not two, but: 0".
## Example 2 (setter calling itself):

Same here. But:

[code]

should always print "old value=2" but prints

[code]

[2016-06-28 00:41] horasal commented on #1002
It seems that `this value` in getter is not unwrapped to the getter call.

[code]

From `source/rock`

[code]

[2016-06-28 06:55] alexnask commented on #1002
Yes, I'm pretty sure this is expected behavior (accessing the property inside the property decl returns the actual backing variable).

[2016-06-28 07:10] marcusnaslund commented on #1002
But, why? I see no logic in reading the "backing variable" in the setter when, as I have written the code, I would not expect any variable called `value` at all. I would expect `value` to always give me `2`.

Also, I would expect this code to give the same result as example 1, but it does not:

[code]

That code, in fact, gives me "two".

Is there some logic to this that I'm missing? :)

[2016-06-28 07:30] alexnask commented on #1002
This code results in fetching two because of the indirection.

I do think setters could use the getter function when just accessing the property instead of the backing variable, as you've brought out valid points.

I'm trying to think of some weird edgecases that would break but I don't think there are any.
By the way, are you aware of how C# does that?
I'm not quite sure myself as I've never used

[2016-06-28 07:43] marcusnaslund commented on #1002
The following code

[code]

prints

[code]

as expected. (In C# I cannot assign `this.X = value;` in the setter, because this causes an infinite loop.)

[2016-06-28 07:46] vendethiel commented on #1002
I'd argue it's a bit different still, because backing properties are explicit in (non-bleeding-edge versions of) c#.

[2016-06-28 07:52] alexnask commented on #1002
Ah, I though non-virtual/backing properties were automatically inferred in C# as well, guess I was wrong :)

[2016-06-30 13:12] alexnask opened #1003 "The way rock constructs class information can lead to data races in seemingly unrelated code"
Here is a sample _class() function the backend generates lifted from the following class:

[code]

[code]

Obviously, this function is not thread safe.

Proposed generated code:

[code]

Also, anywhere test__Foo_class() would appear, we replace it with &test__Foo_class.

[2016-06-30 13:22] fasterthanlime commented on #1003
I remember a reason for it being as ugly as it is right now. I would've loved to generate the code you propose instead but I'm pretty sure meta-classes are going to implode if you go that route. Test well :)

[2016-06-30 13:23] alexnask commented on #1003
@fasterthanlime
I kind of assume the worst is going to happen too :P
Will be reporting on this thread, I'm sure it will be interesting.

[2016-06-30 13:35] alexnask commented on #1003
[code]

Was expecting an error of this nature, need to reconsider the generated code.

EDIT:
Alternative codegen: Generate the above without the '.name' field, initialize '.name' in the module load.

[2016-08-26 11:45] marcusnaslund opened #1005 "Unexpectedly "good" behaviour from ooc arrays"
(This may be the product of something I've misunderstood, or just pure random chance, if so I will close)

Consider the very simple program:

[code]

(I know, with GC you wouldn't have to manually `free`, but bear with me)

The generated C code for `test` is

[code]

This puts an uninitialized array on the stack, where `length` and `data` have garbage values. But the free call _never_ seems to cra

[2016-08-26 11:54] marcusnaslund commented on #1005
In contrast,

[code]

segfaults every time.

[2016-08-26 12:09] vendethiel commented on #1005
No, it doesn't. It puts an initialized struct on the stack, which contains a pointer to void.

It's undefined behavior, so really, nothing is "expected".
If you compile with optimizations, the `free()` will be elided. with `gcc -O2`, this is the x86 generated for your program:

[code]

Without optimizations, we get:

[code]

Since everything is uninitialized, what you have on the stack is what was

[2016-08-26 12:16] marcusnaslund commented on #1005
Sorry, this is what I meant. The `data` pointer is what is uninitialized.

I understand now, I just did not pollute the stack enough to see the problem.

Many thanks.